<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/admin/css/admin-order-list.css">/ -->
    <link rel="stylesheet" href="/static/admin/css/product/product-list.css">
    <link rel="stylesheet" href="/static/admin/css/product/sidebar.css">
    <link rel="stylesheet" href="/static/admin/css/admin-style.css">
</head>
<body>
    <div class="wrap-header">
        <div class="header">
            <h2>헤더내용 확인필요</h2>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="logo">
                <a href="">
                    <h1>조카바보</h1>
                </a>
            </div>
            <div class="sidearea">
                <div class="menulistbar">
                    <div class="menulistbox">
                        <div class="menulistbox-containter">
                            <ul class="menu">
                                <li class="haschild">
                                    <a href="" class="link">홈</a>
                                </li>
                                <li class="haschild show">
                                    <a href="" class="link">주문</a>
                                </li>
                                <li class="haschild">
                                    <a href="" class="link">상품</a>
                                </li>
                                <li class="haschild">
                                    <a href="" class="link">고객</a>
                                </li>
                                <li class="haschild">
                                    <a href="" class="link">메시지</a>
                                </li>
                                <li class="haschild">
                                    <a href="" class="link">게시판</a>
                                </li>
                                <li class="haschild">
                                    <a href="" class="link">통계</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="submenulistbar">
                    <div class="submenulistbox">
                        <div class="submenulistbox-containter">
                            <div class="subtitle">
                                <span>상품</span>
                            </div>
                            <div class="sublist">
                                <ul>
                                    <li class="selected">
                                        <a href="">
                                            <span>상품 대시보드</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>상품 목록</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>상품 등록</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>상품 관리</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>재고 관리</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="headarea">
                <div class="headarea-title">
                    <h1>상품 목록</h1>
                </div>
            </div>
            <div class="option-area">
                <div class="option">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    검색분류
                                </th>
                                <td>
                                    <div class="mainsearch">
                                        <div class="keywordsearch">
                                            <select name="" id="">
                                                <option value="">상품명</option>
                                            </select>
                                            <input type="text" class="keywordsearch-input" style="width: 400px;">
                                            <button type="button" class="sub-button">
                                                <span></span>
                                            </button>
                                            <button type="button" class="add-button">
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>상품구분</th>
                                <td>
                                    <label class="option-label">
                                        <input type="radio" class="option-check">
                                        전체
                                    </label>
                                    <label class="option-label">
                                        <input type="radio" class="option-check">
                                        기본상품
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>상품분류</th>
                                <td>
                                    <select name="product_major_type" style="width: 128px;">
                                        <option value="major-category">- 대분류 선택 -</option>
                                    </select>
                                    <select name="product_middle_type" style="width: 128px;">
                                        <option value="middle-category">- 중분류 선택 -</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    상품등록일
                                </th>
                                <td>
                                    <select name="date_type" style="width: 128px;">
                                        <option value="product-create-date">상품등록일</option>
                                        <option value="product-update-date">상품최종수정일</option>
                                    </select>
                                    <button type="button">
                                        오늘
                                    </button>
                                    <button type="button">
                                        3일
                                    </button>
                                    <button type="button">
                                        7일
                                    </button>
                                    <button type="button">
                                        1개월
                                    </button>
                                    <button type="button">
                                        3개월
                                    </button>
                                    <button type="button">
                                        1년
                                    </button>
                                    <button type="button">
                                        전체
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="option division">
                    <table>
                        <tbody>
                            <tr>
                                <th>재고수량</th>
                                <td colspan="3">
                                    <div class="available-stock">
                                        <div class="stock-type">
                                            <select name="" id="">
                                                <option value="">재고수량</option>
                                                <option value="">안전재고</option>
                                            </select>
                                            <input type="text" class="available-stock-input">
                                            개 ~
                                            <input type="text" class="available-stock-input">
                                            개
                                            <button type="button" class="sub-button">
                                                <span></span>
                                            </button>
                                            <button type="button" class="add-button">
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>품절상태</th>
                                <td colspan="3">
                                    <label class="option-label">
                                        <input type="radio" class="option-check">
                                        전체
                                    </label>
                                    <label class="option-label">
                                        <input type="radio" class="option-check">
                                        품절
                                    </label>
                                    <label class="option-label">
                                        <input type="radio" class="option-check">
                                        품절아님
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>상품가격</th>
                                <td colspan="3">
                                    <div class="available-stock">
                                        <div class="stock-type">
                                            <select name="" id="">
                                                <option value="">판매가</option>
                                                <option value="">소비자가</option>
                                                <option value="">공급가</option>
                                            </select>
                                            <input type="text" class="available-stock-input">
                                            KRW ~
                                            <input type="text" class="available-stock-input">
                                            KRW
                                            <button type="button" class="sub-button">
                                                <span></span>
                                            </button>
                                            <button type="button" class="add-button">
                                                <span></span>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="option-toggle">
                    <div class="option-toggle-main">
                        <span>
                            <button>
                                상세검색 열기
                            </button>
                            <img src="/static/images/jpg/arrow_down.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="option-btn">
                    <button type="button" class="search-button">
                        <span>검색</span>
                    </button>
                    <button type="button" class="reset-button">
                        <span>초기화</span>
                    </a>
                </div>
            </div>
            <div class="section">
                <div class="section-title">
                    <h2>상품 목록</h2>
                </div>
                <div class="section-content">
                    <div class="section-header">
                        <div class="header-left-button">
                            <button type="button">판매함</button>
                            <button type="button">판매안함</button>
                            <button type="button">복사</button>
                            <button type="button">삭제</button>
                            <button type="button">분류수정</button>
                        </div>
                        <div class="header-right-button">
                            <button type="button">상품등록</button>
                        </div>
                    </div>
                    <div class="section-list">
                        <table>
                            <tbody>
                                <tr>
                                    <th class="all-check">
                                        <input type="checkbox">
                                    </th>
                                    <th class="no">No</th>
                                    <th class="product-type">상품구분</th>
                                    <th class="product-code">상품코드</th>
                                    <th class="product-name">상품명</th>
                                    <th class="product-price">판매가</th>
                                    <th class="sale-price">할인가</th>
                                    <th class="stock-info">재고정보</th>
                                    <th class="order-address">바로구매 URL</th>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr class="product-table-main">
                                    <!-- <td colspan="19">검색된 주문내역이 없습니다.</td> -->
                                    <td class="product-check">
                                        <input type="checkbox">
                                    </td>
                                    <td class="no">1</td>
                                    <td class="product-type">기본상품</td>
                                    <td class="product-code">
                                        <a href="">P000000I</a>
                                    </td>
                                    <td class="product-name">
                                        <img src="//img.echosting.cafe24.com/thumb/44x44.gif" width="44" height="44" alt="">
                                        <a href="">샘플상품 1</a>
                                    </td>
                                    <td class="product-price">5,000</td>
                                    <td class="sale-price">5,000</td>
                                    <td>
                                        <span>0개</span>
                                    </td>
                                    <td class="order-address">
                                        <input type="text" class="order-address-input">
                                        <div class="order-address-atag">
                                            <a href=""><span>SMS발송</span></a>
                                            <a href=""><span>SNS공유</span></a>
                                            <a href=""><span>주소복사</span></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="page">
                        <strong>1</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>