<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/product/css/payment.css">
    <title>결제하기</title>
</head>
<body>
    <div class="payment_wrapper01">
        <div class="payment_wrapper02">
            <div class="payment_wrapper03">
                <div class="payment_wrapper04">
                <nav class="payment_top_wrapper01">
                    <div class="payment_top_wrapper02">
                        <span><</span>
                    </div>
                    <div class="payment_top_wrapper03">
                        <div class="payment_top_text">
                            <span>결제</span>
                        </div>
                    </div>
                </nav>
                <div class="payment_content_wrapper01">
                    <div class="payment_content_wrapper02">
                        <div class="payment_delivery_address_wrapper01">
                            <section class="payment_delivery_address_wrapper02">
                                <div class="payment_delivery_address_top_wrapper01">
                                    <div class="payment_delivery_address_top_wrapper02">
                                        <div class="payment_delivery_address_top_wrapper03">
                                            <button type="button" class="payment_delivery_address_top_btn01">
                                                <span>기본</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="payment_delivery_address_top_wrapper03">
                                        <button class="payment_delivery_address_top_btn02">
                                            <span>배송지 목록</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="payment_delivery_address_mid_wrapper01">
                                    <div class="payment_delivery_address_mid_wrapper02">
                                        <div class="payment_delivery_title">집
                                            <span>기본 배송지</span>
                                        </div>
                                    </div>
                                    <div class="payment_delivery_address_mid_wrapper03">
                                        <div class="payment_delivery_phone">
                                            윤미소
                                            010-2001-0308
                                        </div>
                                        부산 부산진구 시민공원로 30(부암동, 부산진구청)
                                        ,6층
                                        [47186]
                                    </div>
                                </div>
                                <div class="payment_delivery_address_mid_wrapper04">
                                    <label class="payment_delivery_Req_wrapper01">
                                        <select class="payment_delivery_Req_wrapper02">
                                            <option>배송메모를 선택해주세요</option>
                                            <option value="문 앞에 놔주세요.">문 앞에 놔주세요.</option>
                                            <option value="택배함에 놔주세요.">택배함에 놔주세요.</option>
                                            <option value="경비실에 맡겨주세요.">경비실에 맡겨주세요.</option>
                                            <option value="기타">기타</option>
                                        </select>
                                    </label>
                                    <div class="payment_delivery_address_mid_wrapper05">
                                        <label class="payment_delivery_Req_wrapper03">
                                            <textarea class="payment_delivery_req_text" placeholder="배송메모를 입력해주세요"></textarea>
                                            <div class="payment_req_textByte">
                                                <div>0/50</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </div>
<!-- 주문내역 -->
                        <div class="payment_prd_wrapper01">
                            <div class="payment_prd_wrapper02">
                                <div class="payment_prd_wrapper03">
                                    <div class="payment_prd_wrapper04">
                                        <button class="payment_prd_open_btn">
                                            <span class="payment_prd_open_btn_text_wrapper01">
                                                <div class="payment_prd_open_btn_text_wrapper02">
                                                    주문상품
                                                </div>
                                            </span>
                                        </button>
                                        <div class="payment_prd_amount_wrapper">
                                            <span class="payment_prd_amount">1개</span>
                                            <div class="payment_prd_amount_icon"> ^ </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="payment_personal_prd_wrapper01">
                                    <section class="payment_personal_prd_wrapper02">
                                        <header class="payment_personal_prd_wrapper03">
                                            <div class="payment_personal_prd_top_wrapper01">
                                                <div class="payment_personal_prd_brd_name">
                                                    스파오
                                                </div>
                                            </div>
                                            <div class="shoppring_fee">
                                                <span class="shopping_fee_text">배송비</span>
                                                <span class="shopping_fee_price"><span>3,000원</span></span>
                                            </div>
                                        </header>
                                        <div class="payment_prd_info_wrapper01">
                                            <div class="payment_prd_info_wrapper02"> 
                                                <div class="payment_prd_info_wrapper03">
                                                    <figure>
                                                        <img class="payment_prd_info_img" src="https://cf.product-image.s.zigzag.kr/original/d/2023/8/25/25938_202308251727060762_56489.gif?width=400&height=400&quality=80&format=webp" alt="">
                                                    </figure>
                                                    <div class="payment_prd_info_wrapper04">
                                                        <h4 class="payment_prd_name">[당일출고][단독]크롭 윈드 브레이커_SPJJD23601</h4>
                                                        <div class="payment_prd_wrapper05">
                                                            <span class="payment_prd_op_wrapper01">
                                                                <span>
                                                                    [76]LIGHT PURPLE/L [005]
                                                                </span>
                                                                1개
                                                                <span></span>
                                                            </span>
                                                        </div>
                                                        <span class="payment_prd_regular_price">49,900 <span>원</span></span>
                                                        <div class="payment_prd_dis_price_wrapper01">
                                                            <div class="payment_prd_dis_price_wrapper02">
                                                                <span class="payment_prd_text">Z할인가</span>
                                                                <span class="payment_prd_dis_price">44,910 <span>원</span></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
<!--할인적용  -->
                    <section class="payment_dis_apply_wrapper01">
                        <header class="payment_dis_apply_wrapper02">
                            <div class="payment_dis_apply_wrapper03">
                                <div class="payment_dis_apply_text">할인적용</div>
                            </div>
                        </header>
                        <div class="payment_dis_apply_wrapper04">
                            <div class="payment_dis_apply_wrapper05">
                                <div class="payment_coupon_text">쿠폰</div>
                                <div class="payment_coupon_disprice">
                                    <span>0 <span>원</span></span>
                                </div>
                            </div>
                            <div class="payment_dis_apply_point_wrapper01">
                                <div class="payment_dis_apply_point_wrapper02">
                                    <div class="payment_dis_apply_point_wrapper03">
                                        <span class="payment_dis_point_text">포인트</span>
                                    </div>
                                    <div class="payment_dis_apply_point_wrapper04">
                                        <div class="payment_dis_apply_point_box">
                                            <input type="tel" value="0">
                                            <div></div>
                                        </div>
                                        <div class="payment_text_P">P</div>
                                        <button class="payment_dis_apply_btn" type="button">
                                            <span>전액사용</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="payment_hold_point_wrapper">
                                <div></div>
                                <div class="payment_hold_point_text">
                                    보유 포인트 : 0P
                                </div>
                            </div>
                        </div>
                    </section>
<!--결제 내역  -->
                    <section class="payment_total_info_wrapper01">
                       <header class="payment_total_info_wrapper02">
                            <div class = "payment_total_info_text01">
                                <div>결제 내역</div>
                            </div>
                       </header>
                       <div  class="payment_total_info_wrapper03">
                            <div class="payment_total_info_wrapper04">

                                <div class="payment_total_info_prd_price_warp">
                                    <div class="payment_total_info_prd_price_text">상품 금액</div>
                                    <div>
                                        <span class="payment_total_info_prd_price">
                                            44,910 <span>원</span>
                                        </span>
                                    </div>
                                </div>

                                <div class="payment_total_info_prd_deliPrice_warp">
                                    <div class="payment_total_info_prd_deliPrice_text">배송비 </div>
                                    <div class="payment_total_info_prd_delivery_price">
                                        <span>3,000 <span>원</span></span>
                                    </div>
                                </div>

                                <div class="payment_total_info_prd_disiPrice_warp">
                                    <div class="payment_total_info_prd_disPrice_text" >할인 금액</div>
                                    <div class="payment_total_info_prd_dis_price">
                                        <span>(-)0 <span>원</span></span>
                                    </div>
                                </div>

                                <div class="untitle01">
                                    <div class="untitle02"></div>
                                </div>

                                <div class="payment_total_info_totalPrice_wrap">
                                    <div class="payment_totalPrice_text">총 결제 금액</div>
                                    <div >
                                        <span class="payment_totalPrice">44,910 <span>원</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </section>
<!-- 결제방식 -->
                    <section class="payment_method_wrap01">
                        <header class="payment_method_wrap02">
                            <div class="payment_method_text">
                                <div>결제방식</div>
                            </div>
                        </header>
                        <div class="payment_method_wrap03">
                            <div class="payment_method_wrap04">
                                <div class="payment_method_wrap05">
                                    <div class="payment_method_wrap06">
                                        <div class="payment_method01">
                                            <label class="payment_method_label" for="">
                                                <input type="radio" name="pay_method">
                                                <span>신용/체크카드/카카오페이</span>
                                            </label>
                                        </div>
                                        <div class="payment_method02">
                                            <label class="payment_method_label" for="">
                                                <input type="radio" name="pay_method">
                                                <span>휴대폰</span>
                                            </label>
                                        </div>
                                        <div class="payment_method03">
                                            <label class="payment_method_label" for="">
                                                <input type="radio" name="pay_method">
                                                <span>무통장</span>
                                            </label>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment_method_save">
                                <label class="payment_method_save_2" for="">
                                    <input type="checkbox">
                                    <span>이 결제 수단을 다음에도 사용</span>
                                </label>
                            </div>
                        </div>
                    </section>
<!-- 포인트 혜택 -->
                    <section class="payment_point_info_wrap01">
                        <header class="payment_point_info_wrap02">
                            <div class="payment_point_info_wrap03">
                                <div>포인트 혜택</div>
                            </div>
                            <span>최대 300P</span>
                        </header>
                        <div class="payment_point_info_wrap04">
                            <div class="payment_point_info_wrap05">
                               <div class="payment_point_info_text" >리뷰작성</div>
                               <div class="payment_point_info_text2">
                                <span>최대 300P</span>
                               </div>
                            </div>
                        </div>
                    </section>
<!-- 주문내용 확인 및 결제 동의// 모달창은 미완성 -->
                    <section class="payment_agreement_wrap01">
                        <div class="payment_agreement_wrap02">
                            <div class="payment_agreement_wrap03">
                                <div class="payment_agreement_btn_wrap">
                                    <button type="button" class="payment_agreement_btn">
                                        <span>
                                            <div>
                                                <label for="">
                                                    <input type="checkbox">
                                                    <span>주문내용 확인 및 결제 동의</span>
                                                </label>
                                            </div>
                                        </span>
                                    </button>
                                    <span>^</span>
                                </div>
                            </div>
                            <div>
                                <div style="height: 1px;
                                background: rgb(245, 246, 248);"></div>
                            </div>
                            <div class="payment_agreement_wrap04">

                                <div class="payment_agreement_info01_wrap01">
                                    <div class="payment_agreement_info01_wrap02">
                                        <label class="payment_agreement_info01_label" for="">
                                            <input type="checkbox">
                                            <span>V</span>
                                            <span>개인정보 제3자 정보 제공 동의</span>
                                        </label>
                                    </div>
                                    <div class="payment_agreement_info01_wrap03">
                                        <span>보기</span>
                                        <div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="payment_agreement_info02_wrap01">
                                    <div class="payment_agreement_info02_wrap02">
                                        <label class="payment_agreement_info02_label" for="">
                                            <input type="checkbox">
                                            <span>v</span>
                                            <span>결제대행 서비스 이용약관 동의</span>
                                        </label>
                                    </div>
                                    <div class="payment_agreement_info02_wrap03">
                                        <span>보기</span>
                                        <div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
<!-- 결제하기 -->
                    <section class="payment_pay_btn_wrap01">
                        <button class="pay_btn">
                            <span>결제하기</span>
                        </button>
                    </section>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>