<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/payment.css">
    <title>결제하기</title>
</head>
<body>
    <div>
        <div>
            <div>
                <nav>
                    <div>
                        <div>
                            <
                        </div>
                        <div>
                            <div><span>결제</span></div>
                        </div>
                        <div></div>
                    </div>
                </nav>
                <div>
                    <div>
                        <div>
                            <section>
                                <div>
                                    <div>
                                        <div>
                                            <button>
                                                <span>기본</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <button><span>배송지 목록</span></button>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>집
                                            <span>기본 배송지</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            윤미소
                                            010-2001-0308
                                        </div>
                                        부산 부산진구 시민공원로 30(부암동, 부산진구청)
                                        ,6층
                                        [47186]
                                    </div>
                                </div>
                                <div>
                                    <label>
                                        <section>
                                            <option value hidden>배송메모를 선택해주세요</option>
                                            <option value="문 앞에 놔주세요.">문 앞에 놔주세요.</option>
                                            <option value="택배함에 놔주세요.">택배함에 놔주세요.</option>
                                            <option value="경비실에 맡겨주세요.">경비실에 맡겨주세요.</option>
                                            <option value="기타">기타</option>
                                        </section>
                                    </label>
                                    <div>
                                        <label maxlength="50">
                                            <textarea placeholder="배송메몰르 입력해주세요"></textarea>
                                            <div>
                                                <div>0/50</div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <button>
                                            <span>
                                                <div>
                                                    <span>주문상품</span>
                                                </div>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>