@charset "UTF-8";
h3 {
    text-align: center;
    margin-bottom: 20px;
}
th {
    height: 30px;
    line-height: 22px;
    vertical-align: middle;
    border-bottom: 0;
    /* border: none; */
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    background-color: #e5e5e5;
    font-size: 13px;
}
td {
    font-size: 12px;
    padding: 0 20px;
}
table {
    width: 100%;
    /* border: 1px solid #323232; */
    border-collapse: collapse;
    text-align: center;
}
table tr {
    height: 55px;
}
td {
    padding: 15px 10px 16px;
    border-bottom: 1px solid #e5e5e5;
    height: 29px;
}
table td .left {
    text-align: left;
}    
.subject {
    text-align: left;
}