<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/admin-style.css">
    <link rel="stylesheet" href="/static/admin/css/order/admin-order.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>Admin Order</title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="sidebar">
                <div class="logo">
                    <a href="">
                        <h1>조카바보</h1>
                    </a>
                </div>
                <div class="sidearea">
                    <div class="menulistbar">
                        <div class="menulistbox">
                            <div class="menulistbox-containter">
                                <ul class="menu">
                                    <li class="selected">
                                        <img src="/static/images/jpg/free-icon-home-1946436.png" alt="">
                                        <a href="/admin/home">홈</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/icons8-bag-50 (1).png" alt="">
                                        <a href="/admin/order/main">주문</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/admintoy2.png" alt="">
                                        <a href="/admin/product/main">상품</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-user-456212.png" alt="">
                                        <a href="/admin/client/main">고객</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-notepad-318530.png" alt="">
                                        <a href="">게시판</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-graph-2567943.png" alt="">
                                        <a href="">통계</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="submenulistbar">
                        <div class="submenulistbox">
                            <div class="submenulistbox-containter">
                                <div class="subtitle">
                                    <span>주문</span>
                                </div>
                                <div class="sublist">
                                    <ul>
                                        <li class="selected">
                                            <a href="/admin/order/main">
                                                <span>주문 대시보드</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/list">
                                                <span>전체 주문 조회</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/payment/list">
                                                <span>입금전 관리</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/shipped/begin">
                                                <span>배송 준비중 관리</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/shipped/standby">
                                                <span>배송 대기 관리</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/shipped/end">
                                                <span>배송 중 관리</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/admin/order/shipped/complete">
                                                <span>배송 완료 조회</span>
                                            </a>
                                        </li>
                                        <li class="show-list">
											<button class="btn-show" type="button" style="background-color: #2d3a58;">
                                                <span>취소/교환/반품/환불</span>
                                            </button>
                                            <ul class="show-list-ul" style="display: none;">
                                                <li>
                                                    <a href="/admin/order/payment/cancel">
                                                        <span>입금전 취소 관리</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/admin/order/cancel">
                                                        <span>취소 관리</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/admin/order/change">
                                                        <span>교환 관리</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/admin/order/return">
                                                        <span>반품 관리</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/admin/order/refund">
                                                        <span>환불 관리</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span>현금영수증 관리</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="headarea">
                    <div class="headarea-title">
                        <h1>주문관리</h1>
                    </div>
                </div>
                <div class="dashmain">
                    <div class="dashmain-search">
                        <div class="search-option">
                            <div class="search-value">
                                <span>주문번호</span>
                            </div>
                            <div class="search-list">
                                <ul class="search-list-option">
                                    <li>
                                        <a href="">
                                            <span>주문번호</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>휴대폰번호</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>고객명</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span>상품명</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-bar">
                            <input type="text" class="search-bar-text" placeholder="ex) 20210901-00000001">
                            <button type="button" class="btnsearch">
                                <img src="/static/images/jpg/icon-loupe.png" alt="돋보기">
                            </button>
                        </div>
                    </div>
                    <div class="dashmain-pannel">
                        <div class="dashmain-pannel-title">
                            <h2>매출 현황</h2>
                        </div>
                        <div class="dashmain-pannel-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>오늘</th>
                                        <th>이번달</th>
                                        <th>바로가기</th>
                                    </tr>
                                </thead>
                                <tbody class="simple-data">
                                    <tr>
                                        <th>총 주문 금액 (건수)</th>
                                        <td>
                                            <a href="">
                                                <strong class="txt-today today-sale-price">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="" class="today-sale-count">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <strong class="txt-month month-sale-price">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="" class="month-sale-count">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td class="btn-center">
                                            <a href="">
                                                <span>주문조회</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>총 실 결제금액 (건수)</th>
                                        <td>
                                            <a href="">
                                                <strong class="txt-today today-sale-price">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="" class="today-sale-count">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <strong class="txt-month month-sale-price">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="" class="month-sale-count">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td class="btn-center">
                                            <a href="">
                                                <span>결제조회</span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>총 환불 금액 (건수)</th>
                                        <td>
                                            <a href="">
                                                <strong class="txt-today">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td>
                                            <a href="">
                                                <strong class="txt-month">0</strong>
                                            </a>
                                            원
                                            <span>
                                                (
                                                <a href="">0</a>
                                                건)
                                            </span>
                                        </td>
                                        <td class="btn-center">
                                            <a href="">
                                                <span>환불조회</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="dashmain-grid">
                        <div class="grid">
                            <div class="grid-title">
                                <h2>오늘의 할 일</h2>
                            </div>
                            <div class="grid-board">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>입금전</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송준비중/배송보류중</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건 / 
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송중</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>취소신청/취소처리중</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건 / 
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>교환신청/교환처리중</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건 / 
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>반품신청/반품처리중</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건 / 
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>환불전</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="grid-title">
                                <h2>오늘 처리한 일</h2>
                            </div>
                            <div class="grid-board">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>입금확인</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송중처리</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>배송완료</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>취소완료</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>교환완료</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>반품완료</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>환불완료</th>
                                            <td>
                                                <a href="">
                                                    <strong>0</strong>
                                                </a>
                                                건
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/admin/js/order/order-sidebar.js"></script>
    <script type="text/javascript" src="/static/admin/js/order/order-main.js"></script>
</body>
</html>