
.wrap {
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 256px;
    box-sizing: border-box;
    background-color: #f4f5f8;
}

/* 사이드 시작 */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 256px;
    height: 100%;
    padding: 4px 0px 0px;
    background: #192642;
    z-index: 3;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 14px 10px 14px 24px;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    color: #f0f2f4;
}

.sidearea {
    position: relative;
    margin: 3px 0px 0px;
}

.menulistbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 62px;
    height: 899px;
    background: #192642;
}

.menulistbar:hover {
    z-index: 10;
    width: 200px;
    height: 899px;
}

.menulistbox {
    height: auto;
    max-height: 889px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    outline: 0;
}

.menulistbox-containter {
    position: relative;
    top: 0;
    left: 0;

    height: auto;
}

.menu {
    margin: 0px 16px;
}

.menu li {
    position: relative;
    margin: 0px -16px;
    height: 40px;
}

.menu a {
    display: block;
    position: relative;
    padding: 10px 42px 10px 62px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    color: #f0f2f4;
    font-weight: 500;
    text-decoration: none;
    background: #192642;
}

.menu img {
    z-index: 3;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 24px;
    filter: invert() opacity(0.7);
}

.menu .show .link {
    background: #2d3a58;
}

.haschild .link:hover {   
    background: #7e8aae;

}

.submenulistbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 62px;
    right: 0;
    bottom: 0;
    z-index: 8;
    height: 899px;
    background: #2d3a58;
}

.submenulistbox {
    max-height: 889px;
    height: auto;
    position: relative;
    max-width: 100%;
    outline: 0;
}

.submenulistbox-containter {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

.subtitle {
    position: relative;
}

.subtitle span {
    padding: 10px 16px 10px 14px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #f0f2f4;
    font-weight: 500;
    text-align: left;
}

.sublist ul {
    position: relative;
    margin: 0px 14px;
}

.show-list-ul {
    display: none;
}

.show-list-ul li {
    background-color: #3C4867;
}

.sublist ul li {
    margin: 0px -14px;
}

.sublist ul li a {
    font-weight: 500;

    display: block;
    position: relative;
    padding: 10px 35px 10px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #f0f2f4;
    text-decoration: none;
}

.sublist ul li button {
    width: 100%;
    text-align: left;
    display: block;
    position: relative;
    padding: 10px 35px 10px 16px;
    font-size: 14px;
    line-height: 20px;

    background: #2d3a58;
    cursor: pointer;
}

.sublist ul li button span {
    font-weight: 500;
    font-size: 14px;
    color: #f0f2f4;
}

.sublist .selected a{
    font-weight: 500;
    background-color: #3c69dd;
}

.sublist-list {
    /* display: none; */
    position: relative;
    margin: 0px 14px;
}

.sublist li a:hover {
    background-color: #7e8aae;
}

.sublist ul li button:hover {
    background-color: #7e8aae;
}

/* 사이드 끝 */

/* 본문 시작*/
.content {
    width: 1118px;
    min-height: 750px;
    min-width: 960px;
    padding: 24px 24px 100px;
    vertical-align: top;

}

/* 본문 헤더 */
.headarea {
    width: 1028px;

    position: relative;
    padding: 0;
    margin: 0px 0px 16px;
}

.headarea-title h1 {
    display: inline-block;
    padding: 0 4px 0 0;
    height: 32px;
    line-height: 32px;
    color: #1b1e26;
    font-size: 20px;
    vertical-align: middle;
}
/* 본문 헤더 끝*/

/* 본문 메인 시작 */
.option-area {
    margin: 0 0 16px;
}

.option table {
    line-height: 18px;
    background-color: #fff;
}

.option table tr th {
    font-weight: normal;
    vertical-align: middle;
    background-color: #fafafb;

    width: 170px;
    height: 28px;
    padding: 8px;
    border: 1px solid #d9dadc;  
    text-align: left;
}

.option table tr td {
    position: relative;
    height: 28px;
    padding: 8px;
    border: 1px solid #d9dadc;
    text-align: left;

}

.option table tr td select {
    display: inline;
    padding: 0 24px 0 8px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #d6dae1;
    background-color: #fff;
    vertical-align: middle;
}

.option table tr td select option {
    font-weight: normal;
    display: block;
    padding: 0 2px 1px;

}

.keywordsearch-input {
    width: 130px;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #d6dae1;
    border-radius: 3px;
    line-height: 28px;
    outline: 0 none;
    vertical-align: middle;
}

.age-text {
    width: 40px;
    text-align: right;
    font-size: 13px;
    font-weight: normal;
    max-width: 100%;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #d9dadc;
    border-radius: 3px;
    line-height: 28px;
    outline: 0 none;
}

.option-label {
    padding-right: 20px;
    vertical-align: middle;
}

.option-label input {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: sub;
}

.product {
    width: 160px;
    text-align: right;
    font-size: 13px;
    font-weight: normal;
    max-width: 100%;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #d9dadc;
    border-radius: 3px;
    line-height: 28px;
    outline: 0 none;
}

.product-btn {
    height: 28px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid #d9dadc;
    border-radius: 3px;
    color: #1b1e26;
    padding: 0 8px;
    line-height: 26px;
    font-weight: normal;
    background-color: #fff;
}

.phone-text {
    width: 120px;
    font-size: 13px;
    font-weight: normal;
    max-width: 100%;
    height: 28px;
    padding: 0 8px;
    border: 1px solid #d9dadc;
    border-radius: 3px;
    line-height: 28px;
    outline: 0 none;
}

.phone-info {
    margin: 0 0 0 10px;
    font-size: 11px;
    color: #667084;
    line-height: 16px;
}

.option-toggle {
    position: relative;
    margin: 0 0 42px;
}

.option-toggle-main {
    float: right;
    position: relative;
}

.option-toggle-main button {
    height: 25px;
    padding: 0 25px 0 0;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    cursor: pointer;
}

.option-toggle-main img {
    content: '';
    position: absolute;
    right: 8px;
    top: 9px;
    width: 10px;
    height: 10px;
    background-color: transparent;
}

.option-btn {
    position: relative;
    text-align: center;
    margin: 16px 0 0;
}

.option-btn button {
    height: 36px;
    cursor: pointer;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    background-color: #1b1e26;

    width: 72px;
    color: #fff;
}

.section-title {
    margin: 18px 0 8px;
}

.section-title h2 {
    display: inline-block;
    padding: 0 5px 0 0;
    color: #1b1e26;
    font-size: 16px;
    line-height: 1.5;
    vertical-align: middle;
}

.section-header {
    min-height: 46px;
    margin: 8px 0 -1px;
    padding: 8px;
    border: 1px solid #d9dadc;
    background-color: #fff;

}

.header-left {
    float: left;
}

.header-left p {
    float: left;
    margin: 6px 0 0 0;
}

.header-left p strong {
    color: #3971ff;
    font-weight: bold;
}

.section-button {
    min-height: 46px;
    padding: 8px;
    border: 1px solid #d9dadc;
    background-color: #fff;

    margin: 0;
}

.section-button a {
    height: 28px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 3px;
    margin: 0;
    padding: 0 8px;
    border: 1px solid #d9dadc;
    line-height: 26px;
    color: #1b1e26;
    font-weight: normal;
    background-color: #fff;
}

.section-list {
    overflow: auto;
    border-right: 1px solid #d9dadc;
    border-left: 1px solid #d9dadc;
    background-color: #fff;
}

.section-list table {
    border-top: 0;
    color: #222;
}

.section-list table tbody th {
    border: 1px solid #d9dadc;
    text-align: center;
    vertical-align: middle;
    padding: 9px 4px 7px 4px;
    font-weight: normal;
    background-color: #fafafb;
}

.section-list table tbody td {
    text-align: center;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d9dadc;
}

.page {
    display: flex;
    justify-content: center;
    margin: 16px 0 0;
    width: 100%;
}

.page strong {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: 0px 2px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #3971ff;

    cursor: pointer;
}

/* 본문 메인 끝 */
