@charset "UTF-8";

.category-wrap {
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #a1a1a1;
}
.content-wrap hr {
    border: 2px solid #f99b20;
}
.content-wrap .category-detail {
    margin-top: 30px;
}

.recommend {
	width: calc(33.333% - 12px);
	height: 
.category-detail-table-wrap tr{
/* .category-detail-table-wrap td { */
    border-top: 1px solid rgba(195, 195, 195, 0.3);
    border-collapse: collapse;
}
.category-detail-table-wrap table {
    border-top: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    height: 80px;
    border-collapse: collapse;
    text-align: center;
}
.category-detail-table-wrap td {
    width: calc(100% / 3);
}