* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent; /*하이라이트 표시를 투명하게 설정*/
    
}

body {
    margin: 0;
    display:block;
    color: #242729;
}

svg {
    width: 16;
    height: 24;
    color: rgb(36, 39, 41);
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

header {
    position: fixed;
    height: 52px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    margin: auto;
}

.container {
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 0px auto;
}

div { display: block; }
.div-btn-back { flex: 1; }

.btn-back { /*헤더 뒤로가기 버튼(고정)*/
    display: flex;
    padding-right: 8px;
}

main {
    margin: auto;
    padding-top: 52px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: calc(env(safe-area-inset-bottom) + 48px); /* 48px 고정임 */
    background-color: #ffffff;
    max-width: 600px;
}

.main-div {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100 - 112px);
}

h1 {
    margin: 8px 0px;
    padding: 16px 0px;
    z-index: 1;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

a, button {
    cursor: pointer;
    
}

a, button, input, label, select {
    background-color: transparent;
}

a:link, a:active, a:visited {
    text-decoration: inherit;
}

.find-log {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 8px 0px 0px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    box-sizing: content-box;
    overflow: visible;
}

.bar {
    width: 1px;
    height: 13px;
    margin: auto 8px 3px;
    background-color: rgb(210, 213, 214);
    border: none;
}

form {
    display: block;
    margin-top: 0em;
}

label, div, span {
    font-weight: 500;
}

input {
    appearance: none;
}

button, input {
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: none;
}

.body_13 {
    font-size: 13px;
    line-height: 16px;
}

.body_15 {
    font-size: 15px;
    line-height: 18px;
}

.div-in { margin: 18px 0px; }

.label-id {
    display: inline-block;
    margin: 0px 0px 4px 8px;
    color: rgb(79, 85, 88);
}

.la-divlog {
    display: inline-block;
    color: rgb(184, 191, 194);
}

.span-log {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(232, 233, 235);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 16px;
    height: 48px;
    font-size: 15px;
    line-height: 18px;
}

.span-log:focus-within {
    border: 2px solid rgb(210, 213, 214);
}

.userid, .userPwd1, .username {
    caret-color: rgb(250, 110, 227);
    width: 100%;
    font-size: inherit;
    font-weight: inherit;   
    line-height: inherit;
    background-color: inherit;
}

.div-resign-cancle {
    text-align: center;
}



.btn-resign {
    border-radius: 24px;
    white-space: pre;
    display: inline-block;
    -webkit-box-align: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    background-color: #efefef;
    color: #000;
    margin: 2px 0px 28px;
    font-size: 15px;
    line-height: 18px;
    width: 200px;
}

.btn-resign:active {
    border-radius: 24px;
    white-space: pre;
    display: inline-block;
    -webkit-box-align: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    background-color: #767676;
    color: #fff;
    margin: 20px 0px 28px;
    font-size: 15px;
    line-height: 18px;
    width: 200px;
}


.btn-cancel {
    border-radius: 24px;
    white-space: pre;
    display: inline-block;
    -webkit-box-align: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    background-color: #fa6ee3;
    color: #fff;
    margin: 20px 0px 28px;
    font-size: 15px;
    line-height: 18px;
    width: 200px;
}


.btn-cancel:active {
    border-radius: 24px;
    white-space: pre;
    display: inline-block;
    -webkit-box-align: center;
    justify-content: center;
    padding: 14px 24px;
    min-height: 50px;
    min-width: 74px;
    background-color: #b34ea2;
    color: #fff;
    margin: 20px 0px 28px;
    font-size: 15px;
    line-height: 18px;
    width: 200px;
}


.a-log {
    color: #4f5558;
    font-weight: 400;
}

.div-nonreg {
    text-align: center;
    margin-top: 80px;
    font-size: 15px;
    line-height: 14px;
}

.div-nonreg > span {
    color: rgb(184, 191 ,194);
    display: inline-block;
    margin-right: 8px;
}

.register:link, .register:active, .register:visited {
    color: #242729;
}

/*sns 로그인 부분*/
.p-snslogin {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

.div-snslogin {
    text-align: center; /* 가운데 정렬을 위해 텍스트 정렬 설정 */
    margin-top: 20px; /* 상단 여백을 조절하여 가운데 정렬 위치 조정 가능 */
}

.div-snslogin h4 {
    font-weight: 400;
    text-align: center;
    color: #4f5558;
    font-size: 13px;
}

.btn-snslogin {
    font-size: 14px;
    margin-top: 5px;
    border-color: #ddd;
    color: #333;
    display: inline-block;
    padding: 0px 24px;
    height: 48px;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
}