<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>
<link rel="stylesheet" href="/kids-mall/kids-mall/src/main/resources/static/user/css/findpassword.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<header>
		<nav>
			<div class="divbtn-back">
				<button type="button" class="btn-back">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
		</nav>
	</header>
	
	<div class="container">
		<main class="main">
			<div class="main-div">
				<h1>비밀번호 재설정</h1>
				<form>
					<div class="div-in">
						<label class="body_13 label-login">
							<div class="body_13 la-divlog">이메일</div>  <!-- ajax로 휴대폰 번호 안넣으면 "올바른 이메일을 입력해주세요."  나오게 하기 -->
						</label>
						<span class="body_15 span-log">
							<input type="text" placeholder="아이디" required="" class="input-userid">
						</span>
					</div>
					<!-- 메일주소로 비밀번호 재설정 안내문 발송됨, 링크 클릭하면 재설정 할 수 있게 날라옴  -->
					<button type="submit" class="body_15 btn-mail">메일 발송</button>
				</form>
			</div>
		</main>
</body>
</html>