<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/static/user/css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
	<header>
		<nav>
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/login'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
		</nav>
	</header>
	
	<div class="container">
		<main class="main">
			<div class="main-div">
				<h1>아이디와 비밀번호를
                    <br>
                    입력해주세요.
                </h1>
				<form id="form" name="form" action="/register" method="post">
					<div class="input_wrap">
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divid">아이디</div>
							</label>
							<div class="body_13 la-divlog">
								<span class="body_15 span-log" id="chkPage" >
									<input name="username" type="text" placeholder="로그인 시 필요" required="" class="userId" id="userId">
								</span>
								<button type="button" class="check-btn">중복확인</button>
							</div>
						</div>
						<p class="check-result false" id="check-result"></p>
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divlog">비밀번호</div>
							</label>
							<span class="body_15 span-log">
								<input type="password" name="password" id="userpwd" placeholder="영문, 숫자, 특수문자 포함 8자 이상" required="" autocomplete="current-password" class="userPwd" value="">
								<i class="fa-solid fa-eye-slash"></i>
							</span>
						</div>
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divlog">비밀번호 확인</div>
							</label>
							<span class="body_15 span-log">
								<input type="password" name="chk-password" id="chk-userpwd" placeholder="영문, 숫자, 특수문자 포함 8자 이상" required="" autocomplete="current-password" class="userPwd" value="">
								<i class="fa-solid fa-eye-slash"></i>
							</span>
							<input type="text" class="password-bool" value="false" style="display: none;">
						</div>
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divlog">이름</div>
							</label>
							<span class="body_15 span-log">
								<input name="userName" type="text" placeholder="이름을 입력해주세요." required="" class="userName">
							</span>
						</div>
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divlog">휴대전화</div>
							</label>
							<div class="body_13 la-divlog">
								<span class="body_15 span-log">
									<input name="userPhone" type="tel" placeholder="01012345678" required="" class="userPhone">
								</span>
								<button type="button" class="certification-btn" onclick="location.href='#'">인증하기</button>
							</div>
						</div>
						<div class="div-in">
							<label class="body_13 label-login">
								<div class="body_13 la-divlog">이메일</div>
							</label>
							<span class="body_15 span-log">
								<input name="userEmail" type="email" placeholder="이메일을 입력해주세요." required="" class="userEmail">
							</span>
						</div>
						<div class="signup-btn">
						<button href="/login" type="button" class="body_15 btn-end" id="btn-signup">완료</button>
						</div>
					</div>
					
				</form>
			</div>
		</main>

<script src="/static/user/js/register.js"></script>
		
</body>
</html>