<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
<link rel="stylesheet" href="/static/user/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<header>
		<nav>
			<div class="divbtn-back">
				<button type="button" class="btn-back">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
		</nav>
	</header>
	
	<div class="container">

		<main class="main">
			<div class="main-div">
				<h1>아이디로 로그인하기</h1>
				<form method="post" action="/signin">
					<div class="div-in">
						<label class="body_13 label-login">
							<div class="body_13 la-divlog">아이디</div>
						</label>
						<span class="body_15 span-log">
							<input name="username" type="text" placeholder="아이디" required class="userid">
						</span>
					</div>
					<div class="div-in">
						<label class="body_13 label-login">
							<div class="body_13 la-divlog">비밀번호</div>
						</label>
						<span class="body_15 span-log">
							<input placeholder="비밀번호" name="password" type="password" required autocomplete="current-password" class="userPwd1" value="">
						</span>
					</div>
					<button type="submit" class="body_15 btn-login">로그인</button>
					<div class="find-log">
						<a class="body_13 a-log" href="/find-id/2">아이디 찾기</a>
						<hr class="bar">
						<a class="body_13 a-log" href="/find-password">비밀번호 찾기</a>
					</div>
				</form>
				<p class="p-snslogin">또는</p>
				<div class="div-snslogin">
					<h4>SNS 간편 로그인</h4>
					<div>
						<a href="/oauth2/authorization/kakao" class="btn-snslogin">
							<span>
								<img src="/static/user/images/kakao_icon.png" alt="카카오 회원가입">
								<p>카카오</p>
							</span>
						</a>
						<a href="/oauth2/authorization/naver" class="btn-snslogin">
							<span>
								<img src="/static/images/svg/ic_naver.svg" alt="네이버 회원가입">
								<p>네이버</p>
							</span>
						</a>
						<a href="/oauth2/authorization/google" class="btn-snslogin">
							<span>
								<img src="/static/images/svg/ic_google.svg" alt="구글 회원가입">
								<p>구글</p>
							</span>
						</a>
					</div>
				</div>	
				<div class="div-nonreg">
					<span>계정이 없으신가요?</span>
					<!-- 여기 수정 /find-id/1-->
					<a class="register" href="register">회원가입</a>
				</div>
			</div>
		</main>
		<footer>
			카테고리
			아이정보
			홈
			찜(하트 아이콘)
			내정보
		</footer>
		
</body>
</html>