<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 1. 아이콘 마땅한거 찾아 넣기 
         2.상세정보 스크롤 해결하기  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/product/css/product.css">
    <title>개별상품</title>
</head>


<body>
    <div id="__next">
       <div class="for_modal"></div>
        <div class="product_total_wrap">
            <div style="position: relative;">
                <div class="product_main_img">
                    <img id="product_main_img_id" src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="상품 대표사진">
                    <button class="product_img_btn01"><</button>
                    <button class="product_img_btn02">></button>
                    <div class="product_img_seq">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                
            </div>
            
            <div class="pdp_title">
                <h1 id="pdp_title_id">레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</h1>
            </div>
            <div class="pdp_detail_explain">
                <span id="pdp_detail_explain_id">신나는 멜로디와 함께 핑크퐁 아기상어 도둑잡기를 해보아요</span>
            </div>
            <div class="pdp_simple_review">
                <div class="review_stars">
                    <div id="top_star1"></div>
                    <div id="top_star2"></div>
                    <div id="top_star3"></div>
                    <div id="top_star4"></div>
                    <div id="top_star5"></div>
                </div>
               <span class="caption_review" id="caption_review_id">10000개의 리뷰 보기</span>
            </div>
            

            <div class="pdp_price_wrap01">
                <div class="pdp_price_wrap02">
                    <div class="pdp_price_wrap03">
                        <span class="pdp_price_discountLate" id="pdp_price_discountLate_id">15%</span>
                        <span class="pdp_price_discount_price_wrap">
                            <span class="pdp_price_discount_price" id="pdp_price_discount_price_id" >
                                30,600
                                <span>원</span>
                            </span>
                        </span>
                        <span class="pdp_price_regular_price" id="pdp_price_regular_price_id">
                            36,000
                        </span>
                    </div>
                </div>
    
                <div class="download_coupon">
                    적용가능한 쿠폰 받기
                </div>
            </div>

            <div class="base_info_wrapper01">
                <div class="base_info_wrapper02">
                    <div class="base_info_wrapper03">
                        <h2 class="delivery">배송</h2>
                        <div>
                            <div>
                                <div class="delivery_method">일반배송</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="point_info_wrapper01">
                    <div class="point_info_wrapper02">
                        <h3 class="point_info_title">포인트</h3>
                        <div class="point_detail_info_wrapper">
                            <button class="point_detail_info_btn">
                                최대
                                <strong>300p</strong>
                                적립
                            </button>
                            <ul class="point_detail_info_expain_wrapper">
                                <li>리뷰 작성 시 최대 300p 적립</li>
                                <li>체험단 리뷰 제외</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div>
                        <h3>결제혜택</h3>
                        <div>
                            <div>
                                <ul>
                                    <li>
                                        <span>KB국민카드</span>
                                        <span>KB Pay로 3만원 이상 결제 시 1천원 청구할인 (선착순 6만명)</span>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div>무이자 혜택보기</div>
                            </div>
                        </div>
                    </div> -->
                </div>       
                <div></div>
            </div>

            <div>
                <div class="review_preview_wrapper">
                    <h4>리뷰
                        <span class="review_preview_amount" id="review_preview_amount_id">10,000</span>
                    </h4> 
                    <button class="review_preview_btn">
                        전체보기>
                    </button>
                </div>

                <div class="review_preview_star_wrapper01">
                    <div class="review_preview_star_wrapper02">
                        <div class="review_preview_star" id="middle_star1"></div>
                        <div class="review_preview_star"  id="middle_star2"></div>   
                        <div class="review_preview_star"  id="middle_star3"></div>   
                        <div class="review_preview_star"  id="middle_star4"></div>   
                        <div class="review_preview_star"  id="middle_star5"></div>      
                    </div>
                    <span class="review_preview_rate">
                        <span class="review_preview_score" id="review_score"></span>
                        /5
                    </span>
                </div>
                
                

               <section class="review_preview_prd_wrapper01">
                    <div class="review_preview_prd_wrapper02">
                        <div class="review_preview_prd_wrapper03">
                            <div class="review_preview_prd_wrapper04">
                                <a href="">
                                    <div class="review_preview_text_wrapper01">
                                        <div class="review_preview_text_wrapper02">
                                            <img class="review_preview_img" src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="">
                                            <div class="review_preview_text">
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="review_preview_prd_wrapper04">
                                <a href="">
                                    <div class="review_preview_text_wrapper01">
                                        <div class="review_preview_text_wrapper02">
                                            <img class="review_preview_img" src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="">
                                            <div class="review_preview_text">
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="review_preview_prd_wrapper04">
                                <a href="">
                                    <div class="review_preview_text_wrapper01">
                                        <div class="review_preview_text_wrapper02">
                                            <img class="review_preview_img" src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="">
                                            <div class="review_preview_text">
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="review_preview_prd_wrapper04">
                                <a href="">
                                    <div class="review_preview_text_wrapper01">
                                        <div class="review_preview_text_wrapper02">
                                            <img class="review_preview_img" src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="">
                                            <div class="review_preview_text">
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                                아이들이 너무나도 좋아하는 장난감~!
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            
                            
                        </div>
                    </div>
               </section>
            </div>

            <!-- <div>
                <div>
                    <div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div>
                <div>
                    <div>
                        <section>
                            <h4>함께 보면 좋은 상품</h4>
                            <ul>
                                ::before
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <picture>
                                            <source>
                                            <img src="" alt="">
                                        </picture>
                                        <button>
                                            <img src="" alt="하트">
                                        </button>
                                        ::after
                                    </div>
                                    <div>
                                        <div>레터링 풍선 핑크퐁 아기상어 도둑 잡기 게임</div>
                                        <div>
                                            <span>0%</span>
                                            <span>12,000</span>
                                        </div>
                                        <div>
                                            <span>★</span>
                                            <span>4.7</span>
                                            <span>
                                                (
                                                10000
                                                )
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                ::after
                            </ul>
                        </section>
                    </div>
                </div>
            </div> -->
            <div class="gap"></div>

            <div>
                <div class="info_bar_wrapper">
                    <button type="button" class="info_bar_btn">
                        <span class="info_bar_btn_text">상품정보</span>
                    </button>
                    <button type="button" class="info_bar_btn">
                        <span class="info_bar_btn_text">구매안내</span>
                    </button>
                    <button type="button" class="info_bar_btn">
                        <span class="info_bar_btn_text">상품후기</span>
                    </button>
                    <!-- <button type="button" class="info_bar_btn">
                        <span class="info_bar_btn_text">추천</span>
                    </button> -->
                    <button type="button" class="info_bar_btn">
                        <span class="info_bar_btn_text">상품문의</span>
                    </button>
                </div>
<!--카테고리 / 상품정보  -->
                <div class="prd_detail_wrapper01">
                    <div>
                        <div class="prd_detail_wrapper02">
                            <div class="prd_detail_wrapper03">
                               <div>
                                    <div class="prd_detail_wrapper04">
                                        <div class="prd_detail_wrapper05">
                                            <div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" id="prd_detail_img_id"
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA780220281-129.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA7802281-229.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA7802281-329.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA7802281-429.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA7802281-429.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230825/2023-0823-ECA1B0ECB9B4EBB094EBB3B420EC8381EC84B8ED8E98EC9DB4ECA780228329.png" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230801/fda73bb7-26bd-463d-8b5f-bcd46159eaac_1653265963896-1.jpg" alt="옵션 공통사진">
                                                </div>
                                                <div class="prd_detail_wrapper06">
                                                    <img class="prd_detail_img" 
                                                        src="" alt="옵션 공통사진">
                                                </div>
                                            
                                                <div style="max-width: 100%; height: 30px;"></div>

                                                <p>
                                                    <img src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/NNEditor/20230801/fda73bb7-26bd-463d-8b5f-bcd46159eaac_1653265963896-1.jpg" alt="상품 개별상세정보">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                        <div style="position: absolute; width: 100%; height: 40px;"></div>
                    </div>

                        <div class="prd_detail_close_wrapper01">
                            <div class="prd_detail_close_wrapper02" id = "moreprdInfoBtn">
                                <button class="prd_detail_close_btn"><span>상품정보 더 보기 ∨</span></button>
                            </div>
                        </div>

                    </div>
                </div>
<!--best 상품  -->
                <div>
                    <section class="best_prd_wrapper">
                        <h4>같은 카테고리 BEST</h4>
                        <ul class="best_prd_ul">
                             <!-- <li class="best_prd_li"> 
                                <div class="best_prd_img_wrapper01">
                                    <picture class="best_prd_img_wrapper02">
                                        <img src="https://cf.product-image.s.zigzag.kr/original/d/2023/5/26/14365_202305261355360494_59466.gif?width=300&height=300&quality=80&format=jpeg" alt="베스트 메뉴 사진">
                                    </picture>
                                    <button class="best_prd_img_heart">
                                        <img src="https://content.zigzag.kr/_icon/card/card_heart_bordered.png" alt="하트">
                                    </button>
                                </div>
                                <div id="bestPrd_num">01</div>
                                <div>
                                    <div id="bestPrd_brand">
                                        어바웃톤
                                    </div>
                                    <div id="bestPrd_name">
                                        비건 라잇풀 선크림(듀이 선 에센스/톤업 선 스크린) 직진배송
                                    </div>
                                    <div>
                                        <span id="bestPrd_discountRate">30%</span>
                                        <span id="bestPrd_disPrice">12,600</span>
                                    </div>
                                    <div>
                                        <span>★</span>
                                        <span id="bestPrd_rating">4.9</span>
                                        <span id="bestPrd_riviewAmount"> (12)</span>
                                    </div>
                                </div>
                            </li>   -->

                        </ul>
                    </section>
                </div>

<!--리뷰 -->
            <div class="review_title">
                <h4>리뷰
                    <span class="review_amount" id="review_amount_id">10,000</span>
                </h4>
            </div> 

            <div class="reveiw_star_wrapper01">
                <div class="reveiw_star_wrapper02">
                    <div class="reveiw_star_wrapper03">
                        <div class="reveiw_star" id="star1"></div>
                        <div class="reveiw_star" id="star2"></div>
                        <div class="reveiw_star" id="star3"></div>
                        <div class="reveiw_star" id="star4"></div>
                        <div class="reveiw_star" id="star5"></div>
                    </div>
                    <span class="reveiw_star_score_wrapper">
                        <span class="reveiw_star_score" id="middle_star_score">4.9</span>
                        / 5
                        <span class="reveiw_star_review_amount" id="reveiw_star_review_amount_id">(
                            10000
                        )
                        </span>
                    </span>
                </div>
            </div>

            <hr class="gap02">
<!-- 포토리뷰 -->
            <div>
                <div class="photo_review_wrapper">
                    <h4>포토 리뷰
                        <span class="photo_review_amount" id="photo_review_amount_id"></span>
                    </h4>
                </div>
                <ul class="photo_review_ul" id="photo_review_ul_id">
                    <!-- <a href="https://zigzag.kr/review/list/110939788?feedType=photo&top_id=29936007">
                        <li class="photo_review_li">
                            <img class="photo_review_img" src="https://cf.user-feedback.s.zigzag.kr/product_review/thumb/29936007/202308229041301-1.jpg" alt="사진리뷰">
                        </li>
                    </a> -->

                     <!-- <a href="https://zigzag.kr/review/list/110939788?feedType=photo&top_id=29936007">
                        <li class="photo_review_li">
                            <img class="photo_review_img" src="https://cf.user-feedback.s.zigzag.kr/product_review/thumb/29936007/202308229041301-1.jpg" alt="사진리뷰">
                        </li>
                    </a> -->

                    <!-- <a href="https://zigzag.kr/review/list/110939788?feedType=photo&top_id=29936007">
                        <li class="photo_review_li">
                            <img class="photo_review_img" src="https://cf.user-feedback.s.zigzag.kr/product_review/thumb/29936007/202308229041301-1.jpg" alt="사진리뷰">
                        </li>
                    </a>  -->
                   
                   
                    <!-- <a href="https://zigzag.kr/review/list/110939788?feedType=photo&top_id=29936007">
                        <li class="photo_review_li">
                            <img class="photo_review_img" src="https://cf.user-feedback.s.zigzag.kr/product_review/thumb/29936007/202308229041301-1.jpg" alt="사진리뷰">
                        
                            <div class="photo_review_more_wrapper01">
                                <div class="photo_review_more_wrapper02">
                                    +
                                    4
                                    <br>
                                    더 보기
                                </div>
                            </div>
                        </li>
                    </a> -->
                </ul>
            </div> 
<!-- 전체리뷰(상단바의 후기에 해당) -->
            <section>
                <div class="reveiw_all_wrapper01">
                    <h4>전체 리뷰
                        <span class="reveiw_all_review_amount" id="reveiw_all_review_amount_id">8</span>
                    </h4>
                </div>
                
                <div class="review_all_feed_data_wrapper01-1" id="product_review_id">
                    
                     <!-- <div class="review_all_feed_data_wrapper02"> 
                        <div class="review_all_feed_data_wrapper03">
                            <span class="review_all_userId" id="review_all_userId_01_id">userId</span>
                            <span class="review_all_date">23.08.31</span>
                        </div>
                        <div class="review_all_star_wrapper01">
                            <div class="review_all_star_wrapper02">
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                            </div>
                        </div>
                    </div>
                    <div class="review_all_img_wrapper01-2">
                        <div class="review_all_img_wrapper02">
                            <div class="review_all_img_wrapper03">
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                            </div>
                            <div class="review_all_img_sqs_icon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review_all_option_wrapper">
                            <div class="review_all_option">
                                <span>선택 옵션</span>
                                <div>레터링 풍선 캐치티니핑 배낭 물총</div>
                            </div>
                        </div>
                        <div class="review_all_text">
                            캐치티니핑이 유행이라 물놀이 할 때 아이를 위해 구매했습니다. 아이가 무척 좋아해서 기분이 좋네요~^^*그런데 캐릭터가 너무 많아서 구분하기가 어렵네요 핑크색 아이가 가장 인기가 많은아이 인ㅏ요?? 아 맞ㅏ 포장 이벤트 꼭 하세요. 
                            후회하지 않습니다. 포장이 너무 이쁘고 깔ㅡㅏㅎ게 와요 부산 지역만 가능한 것이 흠입니다.
                            <span>더보기</span>
                        </div>
                    </div>    -->
                </div>
                <!-- 리뷰 한덩이 -->
                    
                    <div class="review_all_feed_data_wrapper02" id="product_review_id2">
                        <!-- <div class="review_all_feed_data_wrapper03">
                            <span class="review_all_userId">userId</span>
                            <span class="review_all_date">23.08.31</span>
                        </div>
                        <div class="review_all_star_wrapper01">
                            <div class="review_all_star_wrapper02">
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                            </div>
                        </div>
                    </div>
                    <div class="review_all_img_wrapper01">
                        <div class="review_all_img_wrapper02">
                            <div class="review_all_img_wrapper03">
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                            </div>
                            <div class="review_all_img_sqs_icon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review_all_option_wrapper">
                            <div class="review_all_option">
                                <span>선택 옵션</span>
                                <div>레터링 풍선 캐치티니핑 배낭 물총</div>
                            </div>
                        </div>
                        <div class="review_all_text">
                            캐치티니핑이 유행이라 물놀이 할 때 아이를 위해 구매했습니다. 아이가 무척 좋아해서 기분이 좋네요~^^*그런데 캐릭터가 너무 많아서 구분하기가 어렵네요 핑크색 아이가 가장 인기가 많은아이 인ㅏ요?? 아 맞ㅏ 포장 이벤트 꼭 하세요. 
                            후회하지 않습니다. 포장이 너무 이쁘고 깔ㅡㅏㅎ게 와요 부산 지역만 가능한 것이 흠입니다.
                            <span>더보기</span>
                        </div>
                    </div>  -->
                </div>
                <!-- 리뷰 한덩이 -->
                <div class="review_all_feed_data_wrapper01-4" id="product_review_id3">
<!--                     
                    <div class="review_all_feed_data_wrapper02">
                        <div class="review_all_feed_data_wrapper03">
                            <span class="review_all_userId">userId</span>
                            <span class="review_all_date">23.08.31</span>
                        </div>
                        <div class="review_all_star_wrapper01">
                            <div class="review_all_star_wrapper02">
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                                <div>⭐️</div>
                            </div>
                        </div>
                    </div>
                    <div class="review_all_img_wrapper01">
                        <div class="review_all_img_wrapper02">
                            <div class="review_all_img_wrapper03">
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/product/big/20230801/208a556b686fe9bed03bd3919632e3ed.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                                <div class="review_all_img_wrapper04">
                                    <img src="https://cf.user-feedback.s.zigzag.kr/product_review/original/29936007/202308229041301-1.jpg" alt="리뷰사진">
                                </div>
                            </div>
                            <div class="review_all_img_sqs_icon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="review_all_option_wrapper">
                            <div class="review_all_option">
                                <span>선택 옵션</span>
                                <div>레터링 풍선 캐치티니핑 배낭 물총</div>
                            </div>
                        </div>
                        <div class="review_all_text">
                            캐치티니핑이 유행이라 물놀이 할 때 아이를 위해 구매했습니다. 아이가 무척 좋아해서 기분이 좋네요~^^*그런데 캐릭터가 너무 많아서 구분하기가 어렵네요 핑크색 아이가 가장 인기가 많은아이 인ㅏ요?? 아 맞ㅏ 포장 이벤트 꼭 하세요. 
                            후회하지 않습니다. 포장이 너무 이쁘고 깔ㅡㅏㅎ게 와요 부산 지역만 가능한 것이 흠입니다.
                            <span>더보기</span>
                        </div>
                    </div> -->
                </div> 
                <a href="">
                    <button class="review_all_allLook_btn">
                    <span>리뷰 전체보기 ></span>
                    </button>
                </a>
                   
                
                

            </section>

<!-- 구매안내 -->
    <div class="payment_info_wrapper01">
        <div class="payment_info_wrapper02">
            <div>
                <h2>PAYMENT INFO</h2> <br>
            </div>
            <div>
                <div>
                    고액결제의 경우 안전을 위해 카드사에서 확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등 정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다. 
                    <br>
                    <br>
                    무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.  
                    <br>
                    주문시 입력한 입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야 하며 입금되지 않은 주문은 자동취소 됩니다.
                </div>
            </div>
            <br><br>    
        </div>
        <div class="payment_info_wrapper02">
            <br>
            <div>
                <h2>DELIVERY INFO</h2> <br>
            </div>
            <div>
                <ul>
                    <li>배송방법 : 택배</li>
                    <li>배송지역 : 전국지역</li>
                    <li>배송비용 : 3,000원</li>
                    <li>배송 기간 : 1일 ~ 3일</li>
                    <li>배송 안내 : - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다. <br>
                        고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소 지연될 수 있습니다. <br></li>
                </ul>
            </div>
            <br><br>
        </div>
        <div class="payment_info_wrapper02">
            <br>
            <div>
                <h2>EXCHANGE INFO</h2> <br>
            </div>
            <div>
                <div>
                    <strong>교환 빛 반품 주소</strong>
                    -
                    <br>
                    <br>
                    <br>
                    <strong>교환 빛 반품이 가능한 경우</strong>
                    <br>
                    - 계약내용에 관한 서면을 받은 날부터 7일. 단, 그 서면을 받은 때보다 재화등의 공급이 늦게 이루어진 경우에는 재화등을 공급받거나 재화등의 공급이 시작된 날부터 7일 이내 <br>
                    - 공급받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날 부터 3월이내, 그사실을 알게 된 날 또는 알 수 있었던 날부터 30일이내 <br>
                    <br>
                    <strong>교환 및 반품이 불가능한 경우</strong>
                    <br>
                    - 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다) <br>
                    - 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br>
                    - 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우<br>
                    - 복제가 가능한 재화등의 포장을 훼손한 경우<br>
                    - 개별 주문 생산되는 재화 등 청약철회시 판매자에게 회복할 수 없는 피해가 예상되어 소비자의 사전 동의를 얻은 경우<br>
                    - 디지털 콘텐츠의 제공이 개시된 경우, (다만, 가분적 용역 또는 가분적 디지털콘텐츠로 구성된 계약의 경우 제공이 개시되지 아니한 부분은 청약철회를 할 수 있습니다.)<br>
                </div>
            </div>
            <br><br><br><br><br><br>
        </div>

    </div>

<!-- 문의 -->




<!-- 구매 바 -->
    <div class="buy_bar_01">
        <div class="buy_bar_02">
            <div class="buy_bar_03">
                <button class="buy_bar_heart">
                    <svg width="24" hight="24" class="heart" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
                </button>
                <button class="buy_bar_buy">구매하기</button>
            </div>
            <div class="buy_bar_dir_wrapper">
                <button class="buy_bar_dir_btn" type="button" aria-label="맨 위로 가기">∧</button>
                <button  class="buy_bar_dir_btn" type="button" aria-label="맨 아래로 가기">∨</button>
            </div>
        </div>
    </div>



        </div>
    </div>

 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/product/js/product.js"></script>

</body>
</html>