    <!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조카바보</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/user/css/common.css">
    <link rel="stylesheet" href="/static/user/css/searchpage.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-wrap">
        <div class="container">
            <div class="header">
                <div class="header-logo">
                    <div class="header-img">
                        <a href="/main">
                            <img src="/static/images/jpg/free-icon-left-arrow-line-symbol-54321.png" alt="">    
                        </a>
                    </div>
                </div>
                <div class="search">
                    <span class="search-img">
                        <img src="/static/images/jpg/free-icon-search-149852.png" alt="">
                    </span>
                    <input type="text" class="search-word" id="search_word" placeholder="장난감 혹은 관심있는 단어를 검색해보세요.">
                    
                </div>  
            </div>
            <div class="content-wrap">
                <section class="section0">
                    <div class="item">
                        <img class="popular" src="/static/images/jpg/free-icon-like-456115.png" alt="">    
                        <div class="hot-item">
                            <span>
                                추천 검색어
                            </span>
                        </div>
                    </div> 
                    <div class="search-ex-wrap">
                        <a href="/product/main/17">
                            <button class="search_ex">장난감</button>
                        </a>
                        <a href="/product/main/18">
                            <button class="search_ex">의류</button>
                        </a>
                        <a href="/search/searchproduct/자동차">
                            <button class="search_ex">자동차</button>
                        </a>
                        <a href="/search/searchproduct/블록">
                            <button class="search_ex">블록</button>
                        </a>
                    </div>
                </section>
                <section class="section1">
                    <div class="item">
                        <img class="popular" src="/static/images/jpg/eyes.png" alt=""> 
                        <div class="hot-item">
                            <span>
                                요즘인기있는 아이템
                            </span>
                        </div>
                    </div>    
                    <div class="popular-item">
                        <div class="item-img-wrap">
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                            <div class="item-img">
                                <a href="#">
                                    <img class="item-image" src="/static/images/jpg/stemp color.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section2">
                    <div class="item">
                        <div class="popular">
                            <div class="popular-img">
                                <img src="/static/images/jpg/free-icon-flame-426833.png" alt=""> 
                            </div>
                            <div class="hot-item">
                                <span>
                                    인기 검색어
                                </span>
                            </div>
                        </div>
                        <div class="hot-item-wrap">
                            <div class="hot-wrap">
                                <div class="hot">
                                    <div class="update-time">
                                        <span style="font-size: 14px;">
                                            업데이트 07:00
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>    
                    <div class="popular-item">
                        <div class="item-rank-wrap">
                            <div class="item-rank">
                                <div class="rank">
                                    <div class="rank-box rank1">
										<a href="#">
											<span>
												1 &nbsp;&nbsp;&nbsp; 캐치티니핑
											</span>												
										</a>
                                    </div>
                                    <div class="rank-box rank2">
										<a href="#">
                                            <span>
                                                2  &nbsp;&nbsp;&nbsp; 스티커
                                            </span>
                                        </a>
                                    </div>
                                    <div class="rank-box rank3">
                                        <a href="#">
                                            <span>
                                                3 &nbsp;&nbsp;&nbsp;  비눗방울
                                            </span>
                                        </a>
                                    </div>
                                    <div class="rank-box rank4">
                                        <a href="#">
                                            <span>
                                                4  &nbsp;&nbsp;&nbsp; 뽀로로
                                            </span>
                                        </a>
                                    </div>
                                    <div class="rank-box rank5">
                                        <a href="#">
                                            <span>
                                                5 &nbsp;&nbsp;&nbsp;  수저세트
                                            </span>
                                        </a>
                                    </div>
                                    <div class="rank-box rank6">
                                        <a href="#">
                                            <span>
                                                6 &nbsp;&nbsp;&nbsp;  할로윈 데이
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>  
    </div>
</body>
<script type="text/javascript" src="/static/search/searchpage.js"></script>
</html>