<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>공지사항</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="../../static/user/css/common.css">
	<link rel="stylesheet" href="../../static/user/css/board-notice.css">
</head>
<style>
	.header-img img {
    background-color: transparent;
    width: 18px;
    height: 18px;
	margin-top: 5px;
}
</style>
<body>
	<div class="container-wrap">
		<div class="container">
			<div class="header">
                <div class="header-img">
					<a href="/mypage">
                    	<img src="/static/images/jpg/free-icon-left-arrow-line-symbol-54321.png" alt="">
                    </a>
                </div>
                <div class="header-title">
                    <h3>공지사항</h3>
                </div>
                <div class="header-img">
                    <a href="/cart" class="a-cart">
						<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#121314" class="svg-bagimg">
						   <path stroke="currentColor" stroke-width="2" d="m22.59 10 1.312 14H8.098l1.313-14h13.178Z"></path><path stroke="currentColor" stroke-width="2" d="M13 14V8.5c0-2 1.5-3 3-3s3 1 3 3V14"></path>
						</svg>
						<div class="div-cartnum">1</div>
					 </a>
                </div>
            </div>
			<div class="content-wrap">
				<div class="table-wrap">
					<!-- <div class="table-title">
						<h3>공지사항</h3>
					</div> -->
					<hr />
					<div class="board-list">
						<table>
							<colgroup>
	                            <col class="num">
	                            <col class="subject">
	                            <col class="writer">
	                            <col class="update">
	                        </colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>	
								</tr>
							</thead>
							<tbody>
								
							</tbody>
						</table>
					</div>
				</div>
				<div class="board-list-pager">
					<div class="list-page">
					   <ul>
							<li class="button-left">
								<button type="button"><</button>
							</li>
						</ul>
						<ul class="list-page-details">
							
						</ul>    
						<ul class="list-page-right-button">
							<li class="button-right">
								<button type="button">></button>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom-btn">
				<ul>
					<li>
						<a href="/category">
							<img class="menu-bar" src="../../static/images/jpg/free-icon-menu-2976215.png" alt="">
							<p>카테고리</p>
						</a>
					</li>
					<li>
						<a href="/search/filter">
							<img class="menu-bar" src="../../static/images/jpg/free-icon-baby-4397453.png" alt="">
							<p>아이정보</p>
						</a>
					</li>
					<li>
						<a href="/main">
							<img class="menu-bar" src="../../static/images/jpg/free-icon-home-1946488.png" alt="">
							<p>홈</p>
						</a>
					</li>
					<li>
						<a href="/wishList">
							<img class="menu-bar"
								src="../../static/images/jpg/free-icon-heart-shape-silhouette-25451.png" alt="">
							<p>찜</p>
						</a>
					</li>
					<li>
						<a href="/mypage">
							<img class="menu-bar" src="../../static/images/jpg/free-icon-user-456283.png" alt="">
							<p>나의정보</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/static/admin/js/board/noticeList.js"></script>
</html>