<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보처리방침</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../static/user/css/common.css">
    <link rel="stylesheet" href="../../static/user/css/mall-agreement.css">
    <link rel="stylesheet" href="../../static/user/css/use-info.css">
</head>
<style>

</style>

<body>
    <div class="container-wrap">
        <div class="container">
            <div class="header">
                <div class="header-logo">
                    <a href="/">
                        <img src="//ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/category/logo/v2_06088e06c72a5f00610e6398366a43ae_JyY4JQghLM_top.jpg"
                            alt="조카바보"
                            data-ez-eb="//ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/ezst/shop1/ez-logo-top.edibotbanner.json">
                    </a>
                </div>
                <div class="search">
                    <span class="search-img"><img src="../../static/images/svg/icons8-search (1).svg" alt=""></span>
                    <input type="text" class="search-word" placeholder="검색어를 입력하세요.">
                </div>
                <a href="/cart" class="a-cart">
                    <svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#121314" class="svg-bagimg">
                        <path stroke="currentColor" stroke-width="2" d="m22.59 10 1.312 14H8.098l1.313-14h13.178Z">
                        </path>
                        <path stroke="currentColor" stroke-width="2" d="M13 14V8.5c0-2 1.5-3 3-3s3 1 3 3V14"></path>
                    </svg>
                    <div class="div-cartnum">1</div>
                </a>
            </div>

            <div class="content-wrap">
                <div class="content">
                    <div class="content-title">

                        <h3>이용약관</h3>
                        <hr />
                    </div>
                    <div class="agreement-wrap">
                        <div class="agree">
                            <div class="agreement">
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>회원가입 안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-member-info">
                                            [회원가입] 메뉴를 통해 이용약관, 개인정보보호정책 동의 및 일정 양식의 가입항목을 기입함으로써 회원에
                                            가입되며, 가입 즉시 서비스를 무료로 이용하실 수 있습니다.<br>
                                            주문하실 때에 입력해야하는 각종 정보들을 일일이 입력하지 않으셔도 됩니다. 공동구매, 경매행사에 항상 참여하실 수
                                            있습니다. 회원을
                                            위한 이벤트 및 각종 할인행사에 참여하실 수 있습니다.
                                        </div>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>주문 안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-order-info">
                                            상품주문은
                                            다음단계로 이루어집니다.<br>
                                            <br>
                                            - Step1: 상품검색<br>
                                            - Step2: 장바구니에 담기<br>
                                            - Step3: 회원ID 로그인 또는 비회원 주문<br>
                                            - Step4: 주문서 작성<br>
                                            - Step5: 결제방법선택 및 결제<br>
                                            - Step6: 주문 성공 화면 (주문번호)<br>
                                            <br>
                                            비회원 주문인경우 6단계에서 주문번호와 승인번호(카드결제시)를 꼭 메모해 두시기 바랍니다. 단, 회원인 경우 자동
                                            저장되므로 따로
                                            관리하실 필요가 없습니다.
                                        </div>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>결제안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-payment-info">
                                            고액결제의 경우 안전을 위해 카드사에서
                                            확인전화를 드릴 수도 있습니다. 확인과정에서 도난 카드의 사용이나 타인 명의의 주문등
                                            정상적인 주문이 아니라고 판단될 경우 임의로 주문을 보류 또는 취소할 수 있습니다. &nbsp; <br>
                                            <br>
                                            무통장 입금은 상품 구매 대금은 PC뱅킹, 인터넷뱅킹, 텔레뱅킹 혹은 가까운 은행에서 직접 입금하시면 됩니다.
                                            &nbsp;<br>
                                            주문시 입력한&nbsp;입금자명과 실제입금자의 성명이 반드시 일치하여야 하며, 7일 이내로 입금을 하셔야
                                            하며&nbsp;입금되지
                                            않은 주문은 자동취소 됩니다. <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>배송안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <ul>
                                            <li>배송 방법 : 택배</li>
                                            <li>배송 지역 : 전국지역</li>
                                            <li>배송 비용 : 조건부 무료 : 주문 금액 100,000원 미만일 때 배송비 3,000원을 추가합니다.
                                            </li>
                                            <li>배송 기간 : 1일 ~ 3일</li>
                                            <li>배송 안내 :
                                                <div class="fr-view fr-view-faq-shipping-agreement">
                                                    - 산간벽지나 도서지방은 별도의 추가금액을 지불하셔야 하는 경우가 있습니다.<br>
                                                    고객님께서 주문하신 상품은 입금 확인후 배송해 드립니다. 다만, 상품종류에 따라서 상품의 배송이 다소
                                                    지연될 수 있습니다.<br>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>교환/반품안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-prod-change-agreement">
                                            <strong>교환 및 반품 주소</strong>
                                            <br>&nbsp;-
                                            <br>&nbsp;
                                            <br><strong>교환 및 반품이 가능한 경우</strong>
                                            <br>&nbsp;-&nbsp;계약내용에 관한 서면을 받은 날부터&nbsp;7일.&nbsp;단,&nbsp;그 서면을
                                            받은 때보다 재화등의 공급이 늦게 이루어진 경우에는 재화등을 공급받거나 재화등의 공급이 시작된 날부터&nbsp;7일
                                            이내
                                            <br>&nbsp; -&nbsp;공급받으신 상품 및 용역의 내용이 표시.광고 내용과 다르거나 계약내용과 다르게
                                            이행된 때에는 당해 재화 등을 공급받은 날 부터&nbsp;3월이내,&nbsp;그사실을 알게 된 날 또는 알 수
                                            있었던 날부터&nbsp;30일이내
                                            <br>&nbsp;
                                            <br><strong>교환 및 반품이 불가능한 경우</strong>
                                            <br>&nbsp;-&nbsp;이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만,&nbsp;재화
                                            등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)
                                            <br>&nbsp; -&nbsp;이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우
                                            <br>&nbsp; -&nbsp;시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우
                                            <br>&nbsp; -&nbsp;복제가 가능한 재화등의 포장을 훼손한 경우
                                            <br>&nbsp; -&nbsp;개별 주문 생산되는 재화 등 청약철회시 판매자에게 회복할 수 없는 피해가 예상되어
                                            소비자의 사전 동의를 얻은 경우
                                            <br>&nbsp; -&nbsp;디지털 콘텐츠의 제공이 개시된 경우, (다만,&nbsp;가분적 용역 또는 가분적
                                            디지털콘텐츠로 구성된 계약의 경우 제공이 개시되지 아니한 부분은 청약철회를 할 수 있습니다.)
                                            <br>&nbsp;
                                            <br>※ 고객님의 마음이 바뀌어 교환,&nbsp;반품을 하실 경우 상품반송 비용은 고객님께서 부담하셔야 합니다.
                                            <br>&nbsp;(색상 교환,&nbsp;사이즈 교환 등 포함)
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>환불안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-change-agreement">
                                            환불시 반품 확인여부를 확인한 후
                                            3영업일 이내에 결제 금액을 환불해 드립니다. <br>
                                            신용카드로 결제하신 경우는 신용카드 승인을 취소하여 결제 대금이 청구되지 않게 합니다.<br>
                                            (단, 신용카드 결제일자에 맞추어 대금이 청구 될수 있으면 이경우 익월 신용카드 대금청구시 카드사에서
                                            환급처리<br>
                                            됩니다.)
                                        </div>
                                    </div>
                                </div>
                                <div class="ec-base-fold theme1 gBottomLine selected eToggle">
                                    <div class="use-title">
                                        <h3>기타안내</h3>
                                    </div>
                                    <div class="use-contents">
                                        <div class="fr-view fr-view-faq-etc-info">
                                            <b>이용기간</b><br>
                                            주문으로 발생한 적립금은 배송완료 체크시점으로 부터 20일이 지나야 실제 사용 가능 적립금으로 변환됩니다.
                                            20일 동안은 미가용 적립금으로 분류 됩니다. 미가용 적립금은 반품, 구매취소 등을 대비한 실질적인 구입이 되지
                                            않은
                                            주문의 적립금 입니다.
                                            <br>사용가능한 적립금(총 적립금-사용된적립금-미가용적립금)은 상품구매시 즉시 사용하실 수 있습니다.<br>
                                            <br>
                                            <b>이용조건</b><br>
                                            적립금사용시 최소구매가능적립금(구매가능한 적립금 요구선)은 0원 입니다. 적립금 사용시
                                            최대구매가능적립금(적립금 1회 사용 가능 최대금액)은 '한도제한없음' 입니다.<br>
                                            <br>
                                            <b>소멸조건</b><br>
                                            주문취소/환불시에 상품구매로 적립된 적립금은 함께 취소됩니다. 회원 탈퇴시에는 적립금은 자동적으로
                                            소멸됩니다. 최종 적립금 발생일로부터 3년 동안 추가적립금 누적이 없을 경우에도 적립금은 소멸됩니다.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-btn">
                <ul>
                    <li>
                        <a>
                            <i class="fa-solid fa-bars"></i>
                            <p>카테고리</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-solid fa-baby"></i>
                            <p>아이정보</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-solid fa-house"></i>
                            <p>홈</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-regular fa-heart"></i>
                            <p>찜</p>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-regular fa-user"></i>
                            <p>나의정보</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    
        <div class="footer-wrap">
            <footer>
                <div class="footer-01">
                    <div class="footer-subject">
                        <a href="/">
                            <img src="//ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/category/logo/v2_06088e06c72a5f00610e6398366a43ae_JyY4JQghLM_top.jpg"
                                alt="조카바보"
                                data-ez-eb="//ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/ezst/shop1/ez-logo-top.edibotbanner.json">
                        </a>
                    </div>
                    <br>
                    <div class="footer-content">
                        <a href="#">회사소개</a>
                        <a href="#" class="one">이용약관</a>
                        <a href="#" class="one">개인정보처리방침</a>
                        <a href="#" class="one">이용안내</a>
                    </div>
                    <br><br>
                    <div class="footer-info">
                        <div class="title">
                            쇼핑몰 기본정보
                        </div>
                        <div class="info-list">
                            <div class="company-name">
                                <span class="filed">상호명</span>
                                <span class="value">디와프(DWAF)</span>
                            </div>
                            <div class="president-name">
                                <span class="filed">대표자명</span>
                                <span class="value">최연호</span>
                            </div>
                            <div class="address">
                                <span class="filed">사업장 주소</span>
                                <span class="value">47551 부산광역시 연제구 반송로 60 임대형 사무실 4호</span>
                            </div>
                            <div class="phone">
                                <span class="filed">대표전화</span>
                                <span class="value">070-3300-4698</span>
                            </div>
                            <div class="company-regno">
                                <span class="filed">사업자 등록번호</span>
                                <span class="value">171-31-001120</span>
                            </div>
                            <div class="network-regno">
                                <span class="filed">통신판매업 신고번호</span>
                                <span class="value">1683-7807-4446-5119[사업자정보확인]</span>
                            </div>
                            <div class="cpo-name">
                                <span class="filed">개인정보보호책임자</span>
                                <span class="value">010-3300-4698</span>
                            </div>
                        </div>
                        <div class="footer-cs">
                            <div class="title">
                                고객센터 정보
                            </div>
                            <div class="cs-list">
                                <div class="phone footer-txt01">
                                    <strong>상담/주문전화</strong>
                                    <span class="pdr10"></span>
                                    <span>010-3300-4698</span>
                                </div>
                                <div class="email footer-txt02">
                                    <strong>상담/주문 이메일</strong>
                                    <span class="value">dusgh0624@naver.com</span>
                                </div>
                                <div class="runtime footer-txt02">
                                    <strong>cs운영시간</strong>
                                    <span>09:00-18:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bank">
                            <div class="title">
                                결제정보
                            </div>
                            <div class="bank-info">
                                <strong>무통장 계좌정보</strong>
                            </div>
                            <div class="footer-txt02">
                                <ul>
                                    <li>
                                        <span class="bank-name">국민은행</span>
                                        <span calss="pdr-10"></span>
                                        <span class="accout-num">110801-04-289428</span>
                                        <span calss="pdr-10"></span>
                                        <span class="account-name">최연호(디와프)</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="footer-02">
    
                    <div class="footer-sns">
                        <div class="title">SNS</div>
                        <a href="https://instagram.com" target="_blank">
                            <img src="../../static/images/svg/icons8-instagram.svg" alt="instagram" width="20" height="20"
                                fill="none" viewBox="0 0 20 20 " class="icon" " instagram">
                        </a>
                        <a href="https://youtube.com" target="_blank">
                            <img src="../../static/images/svg/icons8-youtube-logo.svg" alt="youtube" width="28.94"
                                height="20.52" fill="none" viewBox="0 0 28.94 20.52" class="icon" " youtube">
                        </a>
                        <a href="https://facebook.com" target="_blank">
                            <img src="../../static/images/svg/icons8-facebook-f.svg" alt="facebook" width="18"
                                height="21.18" fill="none" viewBox="0 0 18 21.18" class="icon" " facebook">
                        </a>
                        <a href="https://pf.kakao.com" target="_blank">
                            <img src="../../static/images/svg/kakao.svg" alt="kakao" width="15" height="21.18" fill="none"
                                viewBox="0 0 15 21.18" class="icon" " kakao">
                        </a>
                        <a href="https://twitter.com" target="_blank">
                            <img src="../../static/images/svg/icons8-twitter.svg" alt="twitter" width="22.46" height="18.25"
                                fill="none" viewBox="0 0 22.46 18.25" class="icon" " twitter">
                        </a>
                        <a href="https://naver.com" target="_blank">
                            <img src="../../static/images/svg/naver-square-svgrepo-com.svg" alt="naver" width="20"
                                height="20" fill="none" viewBox="0 0 20 20" class="icon" " naver">
                        </a>
                    </div>
                    <div class="footer-copyright">
                        Copyright &copy; 조카바보, All Rights Reserved. Hosting by Cafe24 Corp.
                    </div>
                </div>
            </footer>
        </div> 
    </div>
    
</body>

</html>