<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>조카바보 - 회원정보 수정</title>
<link rel="stylesheet" href="/static/user/css/edit-mypage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/mypage/profile'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
			<div class="div-edit1">
				<div class="body_17 div-edit2">회원정보 수정</div>
			</div>
			<div class="div-edit3"></div>
		</nav>
	</header>
	
		<main class="main-edit">
			<form id="form" method="post">
				<table>
					<div class="container">
						<div class="div-edit4">
							<p class="p-edit1">
								아이디
							</p>
							<div class="div-edit5">
								<button class="btn-edit1">
									<input type="text" id="edit-id" class="p-edit1"></input>
									<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="svg-edit1">
										<rect x="3.028" y="3.844" width="8.012" height="10.459" rx="1.559" stroke="#9E9E9E" stroke-width="0.96"></rect>
										<path d="M6.627 1.325h4.894a2.04 2.04 0 0 1 2.039 2.04v6.117" stroke="#9E9E9E" stroke-width="0.96" stroke-linecap="round"></path>
									</svg>
								</button>
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">이름</p>
							<div class="div-edit6">
								<input type="text" id="edit-name" class="input-edit1" disabled>
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">우편번호</p>
							<div class="div-edit6">
								<input type="text" id="sample6_postcode" placeholder="우편번호" class="input-edit1">
								<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="find-btn"><br>
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">주소</p>
							<div class="div-edit6">
								<input type="text" id="sample6_address" placeholder="주소" class="input-edit1"><br>
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">상세주소</p>
							<div class="div-edit6">
								<input type="text" id="sample6_detailAddress" placeholder="상세주소" class="input-edit1">
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">휴대폰 번호</p>
							<div class="div-edit6">
								<input type="tel" id="edit-phone" class="input-edit1" placeholder="숫자만 입력해 주세요.">
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">이메일 주소</p>
							<div class="div-edit6">
								<input type="text" id="edit-email" class="input-edit1" placeholder="이메일">
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">마케팅 수신여부</p>
							<div class="div-edit6" id="smsRadio">
								
								<input type="checkbox" class="input-edit4" value="sms" id="recive">
								<label class="label-edit1">
								sms 수신동의
								</label>
								
								<input type="checkbox" class="input-edit4" value="email" id="recive">
								<label class="label-edit1">
								email 수신동의
								</label>
								
								<input type="hidden" class="receive-hidden">
							</div>
						</div>
						<div class="div-edit8">
							<div class="body_17 div-edit2">추가정보</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">생년월일</p>
							<div class="div-edit6">
								<input type="text" id="edit-birth" class="input-edit1" >
							</div>
						</div>
						<div class="div-edit4">
							<p class="p-edit1">환불계좌번호</p>
							<div class="div-edit6">
								<select id="banklist">
									<option value="KB국민은행">KB국민은행</option>
									<option value="SC제일은행">SC제일은행</option>
									<option value="경남은행">경남은행</option>
									<option value="광주은행">광주은행</option>
									<option value="기업은행">기업은행</option>
									<option value="농협">농협</option>
									<option value="대구은행">대구은행</option>
									<option value="부산은행">부산은행</option>
									<option value="산업은행">산업은행</option>
									<option value="새마을금고">새마을금고</option>
									<option value="수협">수협</option>
									<option value="외환은행">외환은행</option>
									<option value="우리은행">우리은행</option>
									<option value="우체국">우체국</option>
									<option value="전북은행">전북은행</option>
									<option value="카카오뱅크">카카오뱅크</option>
									<option value="케이뱅크">케이뱅크</option>
									<option value="하나은행">하나은행</option>
									<option value="한국시티은행">한국시티은행</option>
									<option value="제주은행">제주은행</option>
									<option value="토스뱅크">토스뱅크</option>
								</select>
								<p class="p-edit2">은행 : </p>
								<input type="text"  name="userbank" id="userbank" class="input-edit4">
								<p class="p-edit2">계좌번호 : </p>
								<input type="text" id="edit-refundaccount" class="input-edit4">
							</div>
						</div>
						<div class="div-edit11">
							<p class="p-edit3">회원정보를 삭제하시겠어요?</p>
							<button class="btn-edit4">회원탈퇴</button>
						</div>
					</div>
				</table>
			</form>
		</main>
		<button class="btn-save" name="btn-save">저장하기</button>
		
		<script type="text/javascript" src="/static/user/js/principal.js"></script>
		<script type="text/javascript" src="/static/user/js/edit-mypage.js"></script>
		
</body>
</html>