<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>조카바보 - 회원정보 수정</title>
<link rel="stylesheet" href="/static/user/css/edit-mypage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
		<div class="edit-mypage">
			<nav class="head-nav">
				<div class="divbtn-back">
					<button type="button" class="btn-back">
						<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
							<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
						</svg>
					</button>
				</div>
				<div class="div-myprofile1">
					<div class="body_17 div-myprofile2">회원정보 수정</div>
				</div>
				<div class="div-myprofile3"></div>
			</nav>
		</div>
	</header>
	<main>
		<div class="container">
			<table border="1">
				

			</table>
		</div>
	</main>
</body>
</html>