<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>조카바보 - 활동정보</title>
<link rel="stylesheet" href="/static/user/css/mypage-activity.css">
<link rel="stylesheet" href="../../static/user/css/common.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/mypage'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
			<div class="div-mypage1">
				<div class="body_17 div-mypage2">활동 정보</div>
			</div>
			<div class="div-mypage0"></div>
		</nav>
	</header>
	<div class="container">
		<main class="main-mypage">
			<div class="main-div1">
				<div class="main-div2">
					김연경
				</div>
				<div class="main-div3">kyk9725@naver.com</div>
			</div>
			<div class="gray-line"></div>
			<button class="btn-mypage" onclick="location.href='/mypage/activity/view-product'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="sc-c3d4a5fb-1 ixGplp">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8 2a3.214 3.214 0 0 0-3.2 3.2v1.6H5.531a2 2 0 0 0-1.996 1.883l-.659 11.2A2 2 0 0 0 4.873 22h15.054a2 2 0 0 0 1.997-2.117l-.659-11.2A2 2 0 0 0 19.27 6.8H17.2V5.2C17.2 3.444 15.756 2 14 2c-.58 0-1.12.17-1.59.444A3.175 3.175 0 0 0 10.8 2Zm0 1.6c.145 0 .283.025.416.06-.257.46-.416.98-.416 1.54v1.6H9.2V5.2a1.6 1.6 0 0 1 1.6-1.6Zm3.2 0a1.6 1.6 0 0 1 1.6 1.6v1.6h-3.2V5.2A1.6 1.6 0 0 1 14 3.6ZM5.155 8.4h1.597l-.707 12H4.448l.707-12Zm4.143 0H18.702a1 1 0 0 1 .999.941l.588 10a1 1 0 0 1-.998 1.059H8.709a1 1 0 0 1-.998-1.059l.588-10a1 1 0 0 1 .999-.941Z" fill="#313436"></path>
						</svg>

						<span class="span-name1">
							최근 본 상품
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<button class="btn-mypage" onclick="location.href='/mypage/activity/mywishlist'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<svg width="28" height="30" fill="none" viewBox="0 0 30 32" class="css-3asouo e170kbym0"><path stroke="currentColor" stroke-width="1.5" d="M20.546 7C23.558 7 26 9.519 26 12.626c0 1.406-.73 2.813-.73 2.813C23.246 19.93 16 25 16 25s-7.246-5.07-9.27-9.561c0 0-.73-1.407-.73-2.813C6 9.519 8.442 7 11.454 7 13.352 7 15.023 8 16 9.515 16.977 7.999 18.648 7 20.546 7Z"></path>
						</svg>
						<span class="span-name2">
							나의 위시리스트
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<button class="btn-mypage" onclick="location.href='/mypage/activity/myboard-list'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<img class="img-act" src="/static/images/svg/free-icon-font-edit-3917361.svg">
						<span class="span-name3">
							나의 게시글
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<div class="gray-line"></div>
		</main>
	</div>
	
		<div class="bottom-btn">
             <ul>
                 <li>
                     <a href="/category">
                         <img class="menu-bar" src="../../static/images/jpg/free-icon-menu-2976215.png" alt="">
                         <p>카테고리</p>
                     </a>
                 </li>
                 <li>
                     <a href="/search/filter">
                         <img class="menu-bar" src="../../static/images/jpg/free-icon-baby-4397453.png" alt="">
                         <p>아이정보</p>
                     </a>
                 </li>
                 <li>
                     <a href="/main">
                         <img class="menu-bar" src="../../static/images/jpg/free-icon-home-1946488.png" alt="">
                         <p>홈</p>
                     </a>
                 </li>
                 <li>
                     <a href="/wishList">
                         <img class="menu-bar" src="../../static/images/jpg/free-icon-heart-shape-silhouette-25451.png" alt="">
                         <p>찜</p>
                     </a>
                 </li>
                 <li>
                     <a href="/mypage">
                         <img class="menu-bar" src="../../static/images/jpg/free-icon-user-456283.png" alt="">
                         <p>나의정보</p>
                     </a>
                 </li>
             </ul>
         </div>
	
</body>
</html>