<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>조카바보 - 마이페이지</title>
<link rel="stylesheet" href="/static/user/css/mypage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/main'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
			<div class="div-mypage1">
				<div class="body_17 div-mypage2">마이페이지</div>
			</div>
			<div class="div-cart">
				<a href="/cart" class="a-cart">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#121314" class="svg-bagimg">
						<path stroke="currentColor" stroke-width="2" d="m22.59 10 1.312 14H8.098l1.313-14h13.178Z"></path><path stroke="currentColor" stroke-width="2" d="M13 14V8.5c0-2 1.5-3 3-3s3 1 3 3V14"></path>
					</svg>
					<div class="div-cartnum">1</div>
				</a>
			</div>
		</nav>
	</header>
	<div class="container">
		<main class="main-mypage">
			<div class="main-div1">
				
			</div>
			<div class="gray-line"></div>
			<button class="btn-mypage" onclick="location.href='/mypage/myshopping-info'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="sc-c3d4a5fb-1 ixGplp">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8 2a3.214 3.214 0 0 0-3.2 3.2v1.6H5.531a2 2 0 0 0-1.996 1.883l-.659 11.2A2 2 0 0 0 4.873 22h15.054a2 2 0 0 0 1.997-2.117l-.659-11.2A2 2 0 0 0 19.27 6.8H17.2V5.2C17.2 3.444 15.756 2 14 2c-.58 0-1.12.17-1.59.444A3.175 3.175 0 0 0 10.8 2Zm0 1.6c.145 0 .283.025.416.06-.257.46-.416.98-.416 1.54v1.6H9.2V5.2a1.6 1.6 0 0 1 1.6-1.6Zm3.2 0a1.6 1.6 0 0 1 1.6 1.6v1.6h-3.2V5.2A1.6 1.6 0 0 1 14 3.6ZM5.155 8.4h1.597l-.707 12H4.448l.707-12Zm4.143 0H18.702a1 1 0 0 1 .999.941l.588 10a1 1 0 0 1-.998 1.059H8.709a1 1 0 0 1-.998-1.059l.588-10a1 1 0 0 1 .999-.941Z" fill="#313436"></path>
						</svg>

						<span class="span-name">
							나의 쇼핑 정보
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<button class="btn-mypage" onclick="location.href='/mypage/activity'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<svg width="29" height="29" fill="none" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg" class="svg-shopinfo">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.845 1.5h1.657c.467 0 .846.378.846.845V2.5H18.5a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2h-13a2 2 0 0 1-2-2v-15a2 2 0 0 1 2-2H13v-.155c0-.467.378-.845.845-.845ZM13 4.1H5.5a.4.4 0 0 0-.4.4v10.7h13.8V4.5a.4.4 0 0 0-.4-.4h-2.152v3.606a.845.845 0 0 1-.846.845h-1.657A.845.845 0 0 1 13 7.706V4.1ZM5.1 19.5v-2.7h13.8v2.7a.4.4 0 0 1-.4.4h-13a.4.4 0 0 1-.4-.4Z" fill="#313436"></path>
						</svg>
						<span class="span-name">
							활동 정보
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<button class="btn-mypage" onclick="location.href='/mypage/reviewable'">
                <div class="div-mypage4">
                    <div class="div-mypage5">
                        <img class="img-act" src="/static/images/jpg/free-icon-speech-bubble-3413883.png">
                        <span class="span-name">
                            리뷰
                        </span>
                    </div>
                    <div class="div-mypage5">
                        <svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
                            <path stroke="currentColor" d="m12 7 9 9-9 9"></path>
                        </svg>
                    </div>
                </div>
            </button>
			<button class="btn-mypage" onclick="location.href='/mypage/point'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<svg width="32" height="32" fill="none" viewBox="0 0 32 32" class="css-1x0xddi e170kbym0">
							<path stroke="currentColor" stroke-width="1.5" d="M16 5.75A10.25 10.25 0 1 0 16 26.25 10.25 10.25 0 1 0 16 5.75z"></path>
							<path stroke="currentColor" stroke-width="1.5" d="M13.75 21.75v-10h3.77c1.508 0 2.73 1.12 2.73 2.5s-1.223 2.5-2.73 2.5h-3.77"></path>
						</svg>
						<span class="span-name">
							포인트
						</span>
					</div>
					<div class="div-mypage5">
						<span class="span-num">0</span>
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<div class="gray-line"></div>
			<a href="/notice/noticelist" class="mypage-privacy">
				<span class="privacy">공지사항</span>
			</a>
			<a href="#" class="mypage-privacy">
				<span class="privacy">개인 정보 처리 방침</span>
			</a>
			<div class="gray-line"></div>
		</main>
	</div>
	
	<script type="text/javascript" src="/static/user/js/principal.js"></script>
	<script type="text/javascript" src="/static/user/js/mypage.js"></script>
</body>
</html>