<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>조카바보 - 나의 쇼핑 정보</title>
<link rel="stylesheet" href="/static/user/css/myshopping-info.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/mypage'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
			<div class="div-mypage1">
				<div class="body_17 div-mypage2">나의 쇼핑 정보</div>
			</div>
			<div class="div-mypage0"></div>
		</nav>
	</header>
	<div class="container">
		<main class="main-mypage">
			<div class="main-div1">
				<div class="main-div2">
					김연경
				</div>
				<div class="main-div3">kyk9725@naver.com</div>
			</div>
			<div class="gray-line"></div>
			<button class="btn-mypage" onclick="location.href='/mypage/myshopping-info/orderlist'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<img class="img-act" src="/static/images/svg/free-icon-font-truck-moving-6955943.svg">
						<span class="span-name1">
							주문 내역 조회
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			
			<button class="btn-mypage" onclick="location.href='/mypage/myshopping-info/address'">
				<div class="div-mypage4">
					<div class="div-mypage5">
						<img class="img-act" src="/static/images/svg/free-icon-font-document-signed-3914394.svg">
						<span class="span-name3">
							배송 주소록 관리
						</span>
					</div>
					<div class="div-mypage5">
						<svg width="16" height="16" fill="none" viewBox="0 0 32 32" color="#A1A9AD" class="css-3asouo e170kbym0">
							<path stroke="currentColor" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</div>
			</button>
			<div class="gray-line"></div>
		</main>
	</div>
</body>
</html>