<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문상세페이지</title>
    <link rel="stylesheet" href="/static/user/css/order-detail.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back" onclick="location.href='/mypage'">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
			<div class="div-mypage1">
				<div class="body_17 div-mypage2">주문상세</div>
			</div>
			<div class="div-mypage0"></div>
		</nav>
	</header>
    <main>
        <div class="main-container">
			<div class="main-top">
				<div class="order-number">
					<p>No.138615787015194125</p>
					(<span>23.09.30</span>)
				</div>
				<button class="delete-history-button">내역삭제</button>
			</div>
			<div class="gap-color"></div>
			<div class="main-middle">
				<div class="product-detail-box">
					<div class="product-box-top">
						<p class="product-name1">기차놀이세트</p>
					</div>
					<div class="product-box-middle">
						<span class="order-status">구매확정</span>
						<div class="product-data">
							<img class="prd-main-image" src="/static/images/jpg/babyshark.jpeg">
							<div class="product-desc">
								<p class="product-name2">기차놀이세트</p>
								<div class="price-box">
									<span>15, 000원</span>
								</div>
							</div>
						</div>
						<div class="other-service">
							<p>배송현황</p>
							<p>문의하기</p>
						</div>
					</div>
				</div>
			</div>
			<div class="gap-color"></div>
			<div class="delivery-address-info">
				<div class="delivery-box-top">
					<h4>배송지 정보</h4>
					<div class="delivery-info">
						<p>수령인</p>
						<span class="recipient">고준호</span>
					</div>
					<div class="delivery-info">
						<p>휴대폰</p>
						<span class="phone-number">010-9926-0864</span>
					</div>
					<div class="delivery-info">
						<p>주소</p>
						<span class="detail-address">경남 창원시 진해구 안청북로 39, 111동 111호</span>
					</div>
					<!-- <div class="delivery-info">
						<p>배송메모</p>
						<span>집 앞에 놔주세요.</span>
					</div> -->
				</div>
			</div>
			<div class="gap-color"></div>
			<div class="payment-amount">
				<div class="payment-box">
					<h4>결제금액</h4>
					<div class="payment-info">
						<p>상품금액</p>
						<span class="product-price">15,000</span>
					</div>
					<div class="payment-info division">
						<p>할인금액</p>
						<span class="discount-price">(-)1,500</span>
					</div>
					<div class="payment-info final-price">
						<strong>최종결제금액</strong>
						<span class="payment-price">13,500</span>
					</div>
					<div class="payment-info">
						<p class="payment-status">신용카드(KB국민카드/일시불)</p>
						<span class="card-price">13,500</span>
					</div>
				</div>
			</div>
        </div>
    </main>
	<script src="/static/user/js/order-detail.js"></script>
</body>
</html>