<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>조카바보 - 내정보</title>
<link rel="stylesheet" href="/static/user/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
		<nav class="head-nav">
			<div class="divbtn-back">
				<button type="button" class="btn-back">
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#242729" class="svg-back">
						<path stroke="currentColor" stroke-width="2" d="m20 7-9 9 9 9"></path>
					</svg>
				</button>
			</div>
		</nav>
	</header>
	<div class="container">
		<main class="main-mypage">
			<div class="main-div1">
				<div class="main-div2">
					김연경
				</div>
				<div class="main-div3">kyk9725@naver.com</div>
			</div>
			<a href="/edit-profile">
				<button class="btn-profile">
					<div class="div-profile">
						<span class="body_16 span-profile">회원정보 수정</span>
						<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#D2D5D6" class="css-v0pnrc e170kbym0">
							<path stroke="currentColor" stroke-width="1.5" d="m12 7 9 9-9 9"></path>
						</svg>
					</div>
				</button>
			</a>
			<button class="btn-profile">
				<div class="div-profile">
					<span class="body_16 span-profile">로그아웃</span>
					<svg width="32" height="32" fill="none" viewBox="0 0 32 32" color="#D2D5D6" class="css-v0pnrc e170kbym0">
						<path stroke="currentColor" stroke-width="1.5" d="m12 7 9 9-9 9"></path>
					</svg>
				</div>
			</button>
			<a href="#">
				<p class="body_13 p-profile">회원탈퇴</p>
			</a>
		</main>
	</div>
</body>
</html>