<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/filter/css/filter.css">
  <link rel="stylesheet" href="/static/filter/css/price-range.css">
  <link rel="stylesheet" href="/static/user/css/common.css">
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <title>Filter Page</title>
</head>

<body>
  <header>
    <img src="//ecimg.cafe24img.com/pg357b08311253043/dusgh0624/web/upload/category/logo/v2_06088e06c72a5f00610e6398366a43ae_JyY4JQghLM_top.jpg">
    <h3>에 오신 것을 환영합니다.</h3>
  </header>
  <main>
    <div class="main-container">
      <div class="access-link">
        <a href="/signin" class="signin-link">로그인</a>
        <a href="/register" class="signup-link">회원가입</a>
      </div>
      <div class="gender-box-line">
        <h4>아이의 성별을 선택해주세요.</h4>
        <div class="gender-button-box">
          <button type="button" class="gender-button filter-menu">남자</button>
          <button type="button" class="gender-button filter-menu">여자</button>
        </div>
      </div>
      <div class="set-age-box">
        <h4>아이의 나이를 선택해주세요.</h4>
        <div class="age-range-box">
          <button type="button" class="age-range-button filter-menu">0세</button>
          <button type="button" class="age-range-button filter-menu">1세</button>
          <button type="button" class="age-range-button filter-menu">2세</button>
          <button type="button" class="age-range-button filter-menu">3세</button>
          <button type="button" class="age-range-button filter-menu">4세</button>
          <button type="button" class="age-range-button filter-menu">5세</button>
          <button type="button" class="age-range-button filter-menu">6세</button>
          <button type="button" class="age-range-button filter-menu">7세</button>
          <button type="button" class="age-range-button filter-menu">초등학교 저학년</button>
        </div>
      </div>
      <div class="style-choose-box">
        <h4>아이의 성향을 선택해주세요.</h4>
        <section>
          <button type="button" class="style-button filter-menu">활발함</button>
          <button type="button" class="style-button filter-menu">호기심</button>
          <button type="button" class="style-button filter-menu">씩씩함</button>
          <button type="button" class="style-button filter-menu">공감능력</button>
          <button type="button" class="style-button filter-menu">인내심</button>
          <button type="button" class="style-button filter-menu">애교</button>
        </section>
        <section>
          <button type="button" class="style-button filter-menu">꼼꼼함</button>
          <button type="button" class="style-button filter-menu">창의적임</button>
          <button type="button" class="style-button filter-menu">조심성</button>
          <button type="button" class="style-button filter-menu">섬세함</button>
          <button type="button" class="style-button filter-menu">독립성</button>
          <button type="button" class="style-button filter-menu">수줍음</button>
        </section>
        <section>
          <button type="button" class="style-button filter-menu">민감함</button>
          <button type="button" class="style-button filter-menu">끈기</button>
          <button type="button" class="style-button filter-menu">화려함</button>
          <button type="button" class="style-button filter-menu">신중함</button>
          <button type="button" class="style-button filter-menu">도전정신</button>
        </section>
      </div>
      <div class="price-range-box">
        <div class="price-range-box-line">
          <h4>원하시는 가격대를 설정해주세요.</h4>
          <div class="input-value-box">
            <div class="output-left" name="price_min">0원</div>
            <span>~</span>
            <div class="output-right" name="price_max">100000원</div>
          </div>
          <div class="price-input-box">
            <div class="middle">
              <div class="multi-range-slider">
                <!-- 진짜 슬라이더 -->
                <input type="range" class="input-left price-min" min="0" max="100000" step="10000" value="0"/>
                <input type="range" class="input-right price-max" min="0" max="100000" step="10000" value="100000"/>
  
                <!-- 커스텀 슬라이더 -->
                <div class="slider">
                  <div class="track"></div>
                  <div class="range"></div>
                  <div class="thumb left"></div>
                  <div class="thumb right"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="price-list">
            <ul>
              <li>0</li>
              <li>5만</li>
              <li>10만</li>
            </ul>
          </div>
        </div>
        <div class="free-price">
          <input type="checkbox">
          <label>설정 안함</label>
        </div>
      </div>
      <div class="setting-button">
        <button type="button" class="reset-button">필터 초기화</button>
        <div>
          <button type="button" class="skip-button">다음에 할게요</button>
          <button type="button" class="complete-button">완료</button>
        </div>
      </div>
    </div>

  </main>
  <div class="bottom-btn">
                <ul>
                    <li>
                        <a href="/category">
                            <img class="menu-bar" src="/static/images/jpg/free-icon-menu-2976215.png" alt="">
                            <p>카테고리</p>
                        </a>
                    </li>
                    <li>
                        <a href="/search/filter">
                            <img class="menu-bar" src="/static/images/jpg/free-icon-baby-4397453.png" alt="">
                            <p>아이정보</p>
                        </a>
                    </li>
                    <li>
                        <a href="/main">
                            <img class="menu-bar" src="/static/images/jpg/free-icon-home-1946488.png" alt="">
                            <p>홈</p>
                        </a>
                    </li>
                    <li>
                        <a href="/mypage/activity/mywishlist">
                            <img class="menu-bar" src="/static/images/jpg/free-icon-heart-shape-silhouette-25451.png" alt="">
                            <p>찜</p>
                        </a>
                    </li>
                    <li>
                        <a href="/mypage">
                            <img class="menu-bar" src="/static/images/jpg/free-icon-user-456283.png" alt="">
                            <p>나의정보</p>
                        </a>
                    </li>
                </ul>
            </div>
  <script src="/static/user/js/principal.js"></script>
  <script src="/static/filter/js/price-range.js"></script>
  <script src="/static/filter/js/filter.js"></script>
</body>

</html>