<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/admin-style.css">
    <link rel="stylesheet" href="/static/admin/css/noticeboard/admin-board.css">
    <title>Admin 게시판 대시보드</title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="sidebar">
                <div class="logo">
                    <a href="">
                        <h1>조카바보</h1>
                    </a>
                </div>
                <div class="sidearea">
                    <div class="menulistbar">
                        <div class="menulistbox">
                            <div class="menulistbox-containter">
                                <ul class="menu">
                                    <li class="selected">
                                        <img src="/static/images/jpg/free-icon-home-1946436.png" alt="">
                                        <a href="">홈</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/icons8-bag-50 (1).png" alt="">
                                        <a href="">주문</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/admintoy2.png" alt="">
                                        <a href="">상품</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-user-456212.png" alt="">
                                        <a href="">고객</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-notepad-318530.png" alt="">
                                        <a href="">게시판</a>
                                    </li>
                                    <li class="haschild">
                                        <img src="/static/images/jpg/free-icon-graph-2567943.png" alt="">
                                        <a href="">통계</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="submenulistbar">
                        <div class="submenulistbox">
                            <div class="submenulistbox-containter">
                                <div class="subtitle">
                                    <span>게시판</span>
                                </div>
                                <div class="sublist">
                                    <ul>
                                        <li class="selected">
                                            <a href="">
                                                <span>게시판 대시보드</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="headarea">
                    <div class="headarea-title">
                        <h1>게시판 관리</h1>
                    </div>
                </div>
                <div class="section">
                    <div class="section-content">
                        <div class="section-title">
                            <h2>게시판목록</h2>
                        </div>
                        <div class="section-button">
                            <a href="">삭제</a>
                        </div>
                        <div class="section-list">
                            <table>
                                <tbody>
                                    <tr>
                                        <th style="width: 24px;">
                                            <input type="checkbox">
                                        </th>
                                        <th style="width: 120px;">게시판 제목</th>
                                        <th style="width: 70px;">게시판 ID</th>
                                        <th style="width: 70px;">글 갯수</th>
                                        <th style="width: 200px;">게시물 관리</th>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td style="width: 24px;">
                                            <input type="checkbox">
                                        </td>
                                        <td style="width: 120px;">공지사항</td>
                                        <td style="width: 70px;">1</td>
                                        <td style="width: 70px;">0</td>
                                        <td style="width: 200px;">
                                            <a href="">
                                                글보기
                                                <img src="/static/images/jpg/free-icon-chevron-6367846.png" alt="">
                                            </a>
                                            <a href="">
                                                글삭제
                                                <img src="/static/images/jpg/free-icon-chevron-6367846.png" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 24px;">
                                            <input type="checkbox">
                                        </td>
                                        <td style="width: 120px;">상품 사용후기</td>
                                        <td style="width: 70px;">2</td>
                                        <td style="width: 70px;">0</td>
                                        <td style="width: 200px;">
                                            <a href="">
                                                글보기
                                                <img src="/static/images/jpg/free-icon-chevron-6367846.png" alt="">
                                            </a>
                                            <a href="">
                                                글삭제
                                                <img src="/static/images/jpg/free-icon-chevron-6367846.png" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="page"> 1 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>